[2020-02-24 05:59] Michael-lu-ke opened #1 "没有选择日期的点击事件吗"

[2020-02-24 06:07] Michael-lu-ke opened #2 "点击时间格子cell 怎么添加事件"

[2020-02-24 06:28] acro5piano commented on #1
Hi @Michael-lu-ke , thanks for your interest in this repository.

Are you requesting the click event on a particular datetime cell, right?
We'll add the feature in the feature, or any pull requests are welcome.

[2020-02-24 06:37] acro5piano commented on #1
Related
https://github.com/llotheo/react-native-big-calendar/issues/2

[2020-04-07 10:23] jtphe opened #57 "Contributing Guide"
Hello 🙂
I find the library very interesting, however it lacks some features that I would like to have as a "month" view, a "day" view or display an event when it lasts all day...
So I would like to know if it is possible for you to put a Contribution Guide in the README so that I can contribute to the development of the lib ?

Thank's 😉

[2020-04-07 12:16] acro5piano commented on #57
Hi @jtphe

Thank you for your interest and will to contribute to this project!
I've just created a PR to add contributing guides and community related files, could you check this? I'll merge this soon.

https://github.com/llotheo/react-native-big-calendar/pull/58

Thanks!

[2020-04-07 12:20] jtphe commented on #57
Alright, I'll check this !
Thank you 👌🏼

[2020-04-07 13:22] jtphe commented on #57
How can I test the modifications ?

[2020-04-07 14:20] acro5piano commented on #57
The following commands will do:

[code]

Currently we run them in CI so you don't have to care about it, but in development it will ensure your code has correct code.

[2020-04-07 14:22] acro5piano commented on #57
Unit test is not necessary, but calendar logic sometimes becomes very complex so it is useful to make code testable and write unit tests in such logics.

[2020-04-30 12:57] Minte-grace opened #72 "what are the available api keywords"

[2020-04-30 14:12] acro5piano commented on #72
Sorry we don't have API documentations yet, so please refer to the Storybook and corresponding source code.

- https://react-native-big-calendar.netlify.app
- https://github.com/llotheo/react-native-big-calendar/blob/master/stories/index.stories.tsx

We would like to add a documentation and remaining features later.

[2020-04-30 14:27] #57 closed

[2020-05-07 06:45] oportojca opened #80 "Clicking a date column (onClickCell feature)"
Hi @acro5piano, hope you're doing well.

Firstly, I must say the library is very promising.

I would only like to ask when the onClickCell feature be available?

Thank you very much.

[2020-05-07 07:14] acro5piano commented on #80
Hi, thank you for your interest.

Unforunately, `onClickCell` feature is not implemented yet. However, we will implement it in the future, so your PR is really welcome.

[2020-05-08 12:10] acro5piano commented on #80
Solved by https://github.com/llotheo/react-native-big-calendar/pull/82

[2020-05-08 12:10] #80 closed

[2020-05-08 12:10] acro5piano commented on #72
I've added all props to README.md so it is solved.

[2020-05-08 12:10] #72 closed

[2020-05-08 13:39] oportojca opened #85 "'event' is not defined."
![image](https://user-images.githubusercontent.com/62530919/81410914-228b2680-9174-11ea-8ac5-128172f935ac.png)

This is what I encountered with latest version.

[2020-05-08 14:16] acro5piano commented on #85
What is your actual code?

[2020-05-08 14:18] acro5piano commented on #85
Oh sorry, I confirm the error in React Native environment. will fix soon

[2020-05-08 14:19] oportojca commented on #85
Thanks @acro5piano .

[2020-05-08 14:31] #85 closed

[2020-05-08 14:40] acro5piano commented on #85
Fixed in v0.3.1.
https://github.com/llotheo/react-native-big-calendar/releases/tag/v0.3.1

[2020-05-09 13:55] #1 closed

[2020-05-09 13:55] #2 closed

[2020-05-10 11:16] nicwhitts opened #92 "Selecting hour slot for 2300-0000 doesn't work"
Great job on selecting the slots to create an event.

On react native (iOS), it seems i cannot select the hour 2300-0000 (I'm in week view)

[2020-05-10 13:58] Minte-grace opened #93 "How can I change the blue active day and the blue background of event notes?"

[2020-05-10 14:20] acro5piano commented on #93
You can set `eventCellStyle` to change the blue background of event notes. You can find a working example here:

https://github.com/llotheo/react-native-big-calendar/blob/master/stories/index.stories.tsx#L61-L69

However, the blue active day cannot be changed for now. I've added the style customization to TODO list.
I'll try to implement the feature when I have time to work on, but your PR is alwa

[2020-05-10 14:22] Minte-grace commented on #93
Oh thank you ur such a nice guy

On Sun, 10 May 2020, 5:20 pm Kay Gosho, <notifications@github.com> wrote:

[2020-05-10 14:24] acro5piano commented on #92
Thank you for your interest in this project.

Oh I didn't notice this. Will try to figure out the cause.

[2020-05-10 14:30] acro5piano commented on #92
That's because the event handler sets `end` to start + 60 minutes, meaning breaking the event cell rendering. fixed it in https://github.com/llotheo/react-native-big-calendar/pull/94.

Thank you for reporting this!

[2020-05-10 14:30] #92 closed

[2020-05-11 13:34] nicwhitts opened #102 "Changing hours in day"
Im trying to customise to use certain hours of the day (for example 9-5)

If i change the `hours` to reflect this. I can draw the grid etc fine

But rendering the current time and the events are not correct.

From my understanding, its due to the logic within the `getRelativeTopInDay` and `getEventCellPositionStyle` methods.

But i'm struggling to figure out the logic. Is there an easy way to make

[2020-05-11 13:38] nicwhitts commented on #102
Ok i figured it out for my use case.

[2020-05-11 13:38] #102 closed

[2020-05-11 15:58] acro5piano commented on #102
How did you solve your problem? If my understanding is correct, you should set `scrollOffsetMinutes`.
Or, are you trying to narrow the hour range? That could be a future feature.

[2020-06-18 16:33] JogiPrasadPakki opened #129 "How to set 12 hours time format"
This is nice library how to set time to 12 hours format instead of 24 hour format

[2020-06-18 21:28] acro5piano commented on #129
Thank you for your kind words.

The feature you mentioned is not implemented yet, but your PR is welcome.

As a reference, I'd like to share which file should be changed to implement it:

https://github.com/llotheo/react-native-big-calendar/blob/master/src/CalendarBody.tsx#L38-L45

[2020-07-06 14:03] acro5piano opened #138 "Swipe more naturally"
Currently swipe action is just pan responder, which moves very unnaturally.

[2020-07-27 13:08] PradeepLinkites opened #167 "day mode is not working"
day mode is not working

[2020-07-28 04:50] acro5piano commented on #167
Not implemented yet.

[2020-08-10 19:55] joelbarron commented on #167
Any solution for this?

[2020-08-11 06:39] acro5piano commented on #167
@joelbarron
Sorry I've been too busy to work on this. I'll try to fix it on this weekend.

[2020-08-13 08:06] acro5piano commented on #167
Solved by https://github.com/llotheo/react-native-big-calendar/pull/181
Thank you @joelbarron

[2020-08-13 08:07] #167 closed

[2020-09-24 03:30] JoeKlimcak opened #241 "Events not showing"
Downloaded and ran your example:

[code]

however no matter what I do/change, the calendar will show as empty without any events.

[2020-09-24 14:55] acro5piano commented on #241
Hi @JoeKlimcak, thanks for your interest in this project.

This is because JS month not starts on 1 but 0. Try the following Date.

    `start: new Date(2020, 8, 23, 10, 0),`

[2020-09-24 17:24] JoeKlimcak commented on #241
Indeed, my bad for not noticing. Thanks very much - great project!

[2020-09-24 17:24] #241 closed

[2020-09-24 23:03] JoeKlimcak commented on #129
+1

[2020-09-24 23:44] JoeKlimcak opened #243 "Additional Styling Enhancements"
Can we please consider adding the following styling TODOs:

- Ability to customize the hour sidebar (colors, fonts etc)
- Ability to customize the font in an event cell
- Ability to customize grid line style

[2020-09-25 01:18] acro5piano commented on #243
Yes the ability should be implemented.

[2020-09-25 03:28] acro5piano commented on #129
I've implemented in https://github.com/acro5piano/react-native-big-calendar/pull/246

[2020-09-25 03:37] #129 closed

[2020-09-26 09:47] Osher671279 opened #247 "Issue with swiping left and right"
Hey,
First, i would like to say that i love the lib and the work you have done here
There is a small problem i would like to address you with,

My goal is to swipe the dates correctly, meaning:
When i swipe my finger Left i want to it to advance in the dates forward and not render the previous ones
And to other side accordingly

Please if you dont understand something tell me

Adding a video:

[Vi

[2020-09-27 02:42] acro5piano commented on #247
Hi, thanks for your interest in this project.

Do you mean swiping more naturally, like google calendar app?
I agree with you, and there is a longstanding issue.

https://github.com/acro5piano/react-native-big-calendar/issues/138

I think react-native-reanimated (or native Animated) will solve the issue. I really appreciate if you do it.

[2020-10-15 10:53] Gilad-Shnoor opened #264 "Can't get the react-native example to work on android"
I want to contribut to the module but as the title suggests I can't get the react-native example to work on android. I cloned the project and then ran:

[code]
The app keeps crashing with the error:

`Error: Unable to resulve module './Calendar.tsx' from 'build\index.js'`

The index.js file inside the build folder is as follows:

[code]

I looked at the buld folder and it does not include any .tsx

[2020-10-15 12:16] acro5piano commented on #264
Hmm that's strange. I haven't build it with Windows (Linux/OSX only) so there must be something I am missing. Could you find issues with Rollbar related to Windows?

By the way, the `index.js` which is built with Linux looks like this:

[code]

[2020-10-15 19:15] Gilad-Shnoor commented on #264
I did some digging and figured out that the build was failing because it was using bash commands that windows doesn't recognize so I started converting the `package.json` to a more cross platform version using "run-script-os". It's now failing in `build:ts` with the error:

`[!] (plugin typescript) Error: @rollup/plugin-typescript: 'dir' must be used when 'outDir' is specified.`

I'm pretty sure t

[2020-10-30 10:35] angelos3lex opened #288 "Any plan to support mode "Month" in the near future?"
First of all Thanks a lot for this lib! A current block for us is that it doesn't support "month" mode type.
Are there any plans for it in the near future?

[2020-10-30 11:06] acro5piano commented on #288
Thanks for your interest. I'll definitely support Month view, but don't
have enough resource for it. If you send a PR I am happy to merge it.

On Fri, Oct 30, 2020, 7:35 PM Angelos Lechouritis <notifications@github.com>
wrote:

[2021-01-14 02:23] bpmct opened #323 "dragging to create / move events"
I have been developing with react native for a few months. How difficult is it to implement dragging to create/move events in this library? Any pointers?

[2021-01-14 05:18] acro5piano commented on #323
Hi @bpmct, Thank you for your interest. Currently it is not supported though. I will appreciate If you create a PR for the feature.

I think using `onPress` and `panResponder` is the straightforward way. Or using react-native-reanimated would be help.

[2021-01-15 03:02] obscure723 commented on #323
I want the feature  too

[2021-01-15 05:43] acro5piano commented on #323
I don't use this library recently. No motivation to implement new features for now. Sorry.
However, if you send a PR, happy to merge it.

[2021-01-15 20:55] nyblad opened #324 "Dynamic colors of events"
Is it possible to set own backgroundColors for the events passed from events-array? How to use the prop eventCellStyle to change the color dynamic?

If I have data like:
[code]

[2021-01-17 07:47] acro5piano commented on #324
Hi @nyblad ! Thanks for your interest. Yes, you can add each cell style dynamically by passing a function to `eventCellStyle`.

Like this:

[code]

See more:

https://github.com/acro5piano/react-native-big-calendar/blob/41a6b00079b930c8442af1ddc199d26f0e1a6260/stories/desktop.stories.tsx#L60-L67

[2021-02-04 08:35] yousaf106 opened #335 "Scrolling Issue"
Hi,
The calendar is not scrolling inside a ScrollView in android. Working perfectly on ios.

[2021-02-04 10:51] acro5piano commented on #335
Oh really. In my Android, it scrolls correctly. Which version do you use? Mine is Android 9.

[2021-02-05 08:51] odyodyodys opened #336 "Wrong object type on BaseEvent"
`BaseEvent` has `start` and `end` fields defined as `Date`.

The event `onPressEvent` from `Calendar` component emits a `BaseEvent` object.
That instance seems to have its `start` and `end` fields as DayJs objectes instead of `date`.

[2021-02-06 14:32] acro5piano commented on #336
@odyodyodys
Thanks for your interest in this project.
I've confirmed that your comment is correct. I'll fix it soon!

[2021-02-06 14:53] #336 closed

[2021-02-06 15:06] acro5piano commented on #336
Fixed in v0.7.3.

@odyodyodys

Can you check it in the newest version?

[2021-02-09 16:59] ShooterArk opened #338 "Cell Height?"
Hi,
First of all thank you for such a great plugin.

Is it possible to change the height of the cell? I tried using eventcellstyle but it didnt work. Please advise.

Thank you.

[2021-02-10 02:30] acro5piano commented on #338
@ShooterArk
Thank you for your interest in this library.
It is calculated by the height of calendar. Try change `height` prop of `<Calendar />`.

[2021-02-10 09:36] ShooterArk commented on #338
@acro5piano thank you for quick response my friend.

I studied your plugin code, did find out that the cell height is binded with the height in the props but it causes the problem for me as the cell height gets changed for the complete calendar including the height of the header so I reviewed the code and made the necessary changes for myself.

I would request if possible can you please add cellHe

[2021-02-10 09:50] deepakmehra96 commented on #335
Yes same issue for me @yousaf106

Calendar is not scrolling inside a ScrollView in android. Working perfectly on ios.

and @acro5piano  i guess you can resolve it by adding

` <ScrollView nestedScrollEnabled={true}> `

then it will work in android too

[2021-02-10 09:51] deepakmehra96 commented on #335
By the way i am using
android 10

[2021-02-10 10:39] acro5piano commented on #338
@ShooterArk Thank you for the details. Can you create a PR for this? I would like to merge it.

[2021-02-10 10:50] acro5piano commented on #335
@deepakmehra96 @yousaf106
Thank you for your comments.
I've added `nestedScrollEnabled` prop as @deepakmehra96 said and published `v0.7.4`. Can you check the new version is working?

https://github.com/acro5piano/react-native-big-calendar/pull/339

[2021-02-10 13:00] deepakmehra96 commented on #335
Yes it is fixed now

but there is an another issue too
i am not able to click on dates and horizontal scroll for dates is not working properly too.

![Screenshot_20210210-182822](https://user-images.githubusercontent.com/37114746/107513226-e76bc700-6bcd-11eb-8b46-4b7c0e2dcbd2.jpg)

[2021-02-10 13:54] acro5piano commented on #335
@deepakmehra96
Thank you for reporting. (Your app looks cool)
Can you improve it? Your PR is really welcome because recently I don't have time to work on it.

Ideally, we should implement this.

https://github.com/acro5piano/react-native-big-calendar/issues/138

[2021-02-10 13:57] acro5piano commented on #138
I think `ScrollView` for both horizontal and vertical is enough.

Using https://github.com/cesardeazevedo/react-native-nested-scroll-view

[2021-02-22 10:17] snios opened #340 "Build script not cross platform, fails on windows"
in package.config

 "build:clean": "rm -rf build/",  this will not work on windows and build fails.

[2021-02-26 03:44] acro5piano commented on #340
@snios Thank you for reporting. I'll replace it with `rimraf`.

[2021-02-26 03:47] acro5piano commented on #340
Fixed by 5e224fc3267639d4c1ed6829f29bb3dd4a3d970e

[2021-02-26 03:47] #340 closed

[2021-03-08 05:57] filipearena opened #351 "Make sure object exists before using scrollTo method"
Hi there,

First of all thanks a lot for creating and maintaining this repo, it has been really helpful! :)

That being said, I've encountered an issue when using the prop scrollOffsetMinutes:

<img width="383" alt="Screen Shot 2021-03-08 at 3 50 31 pm" src="https://user-images.githubusercontent.com/6992650/110280557-bcd32980-8026-11eb-82b1-49ac5edcc54a.png">

I think to fix that, it would only re

[2021-03-08 06:04] acro5piano commented on #351
@filipearena Thank you for reporting it. Can you create a PR for this? It should be helpful.

[2021-03-08 06:50] filipearena commented on #351
@acro5piano thanks for the quick reply.

Here is the PR for it: https://github.com/acro5piano/react-native-big-calendar/pull/352

[2021-03-08 18:37] acro5piano commented on #351
Released in v0.7.5. Thank you for your contribution!!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v0.7.5

[2021-03-08 18:37] #351 closed

[2021-03-18 10:19] from0toweb commented on #338
I really need this opportunity, I still do not have enough knowledge to find the dependency in the source code

[2021-03-18 10:19] from0toweb commented on #338
I really need this opportunity, I still do not have enough knowledge to find the dependency in the source code

[2021-03-18 15:58] acro5piano commented on #338
Hopefully I'll work on this weekend.

[2021-03-23 17:21] sebastienfi commented on #243
This is fixed in https://github.com/acro5piano/react-native-big-calendar/pull/359

[2021-03-23 17:26] sebastienfi commented on #138
Actually the way to do this should be with [Animated](https://docs.expo.io/versions/latest/react-native/animated/)
We don't want to fetch all events to display only a few.

[2021-03-24 02:32] acro5piano commented on #138
@sebastienfi
I'm thinking which library is better. Do you have any recommendation? Animated is a way to go because it is a standard lib, but do you have any experience with react-native-reanimated?

https://github.com/software-mansion/react-native-reanimated

Yeah, apps should fetch data current week +- 1 week or so.

[2021-03-31 02:31] acro5piano opened #375 "Migrate TSLint to ESLint"
Obvious.

[2021-04-07 05:04] RajRohitYadav commented on #338
@acro5piano I can help with this. Is this about the minimum height for the event card, or one specific cell height, or complete row height?

[2021-04-07 15:22] acro5piano commented on #338
@RajRohitYadav
Thank you very much!

I read OP @ShooterArk 's comment again, but I couldn't interpret his comment one specific cell height or overall cell height.

I think we should implement a prop as `function` which receives `event: ICalendarEvent` and returns `cellHeight: number`, just like  `eventCellStyle` does. I will cover both cases and quite flexible.

[2021-04-12 13:41] software3daerospace opened #384 "Can I use this package in side Javacript project(react-natvie) ?"

[2021-04-13 07:55] acro5piano commented on #384
Hi @software3daerospace , Thank you for your comment.

What do you mean by that? react-native-big-calendar works on React on Web and React Native.

[2021-04-16 05:23] snios opened #385 "Events spanning multiple days not rendering correct"
Hello.

It seems like events only render of they have start date on a rendered date.

1. If an event starts before rendered dates it will not render at all even if end date is past the whole span.
2. If looking at multiple days a multi day event will only render on the "first" date.

Example 1. Day view. Only renders one of the events
![image](https://user-images.githubusercontent.com/22050785/114

[2021-04-16 14:43] acro5piano commented on #385
Thanks for reporting. I'll check it on the weekend (hopefully)

[2021-04-23 13:28] titanve opened #388 "Cannot use eventRenderer with react-native and expo"
Good morning.

# Description
I'm trying to use the eventRenderer function in the events array but it doesn't work, would you please help me to know what I'm doing wrong? The main objective is to style the event cell individually (font-size by task time span).

# Screencapture
![image](https://user-images.githubusercontent.com/4803351/115877995-a8e45b00-a40d-11eb-8435-fe0da17b085b.png)

![image](ht

[2021-04-24 06:48] acro5piano commented on #388
Hi, if you just change style based on event time span, you can pass a
function to style props.

On Fri, Apr 23, 2021, 10:28 PM Rafael Mora ***@***.***> wrote:

[2021-04-24 12:16] acro5piano commented on #388
Hi, if you just change style based on event time span, you can pass a
function to style props.

Sorry it was `eventCellStyle`.

So the code should look like this:

[code]

[2021-04-24 12:18] acro5piano commented on #388
Sorry `eventCellStyle` won't work on platforms other than Web.

@titanve
What is your code contains `<Calendar />`? And what will happen if you add some style to `<Text />` in your code?

@sebastienfi
Do you have any thoughts on this?

[2021-04-24 13:04] titanve commented on #388
Good morning,

This is what I have:
![image](https://user-images.githubusercontent.com/4803351/115959804-a9472980-a4d3-11eb-9458-4f7ce1a973f0.png)

[2021-04-24 13:23] acro5piano commented on #388
@titanve
Good morning. The code should work.
Have you tried adding some style to `<Text />` in your `eventRenderer`?

[2021-04-24 13:29] acro5piano opened #389 "eventRenderer should be used in `<Calendar />` component"
In the current implementation of `eventRenderer` creates functions for each event. This is not ideal in terms of performance.

Custom render function should be like this

[code]

[2021-04-24 13:31] acro5piano commented on #388
And I found the current implementation is not ideal. Created an issue for it.

https://github.com/acro5piano/react-native-big-calendar/issues/389

[2021-04-24 20:54] titanve commented on #388
@acro5piano

I added styling but nothing changed:
![image](https://user-images.githubusercontent.com/4803351/115972664-627a2380-a515-11eb-9f29-9efe3a28799e.png)

[2021-04-25 04:35] titanve commented on #388
Hello,

I just upgraded to version 0.9.1 and it worked!
![image](https://user-images.githubusercontent.com/4803351/115980899-c1f82380-a555-11eb-9613-f6c7071d6209.png)

Thank you.

[2021-04-25 04:35] #388 closed

[2021-05-07 06:59] snios commented on #385
@acro5piano  Got a chance to look at this ?

[2021-05-07 07:27] acro5piano commented on #385
Sorry, but currently no. I'm working on my full-time job.

[2021-05-09 07:19] acro5piano commented on #384
Close for no activity.

[2021-05-09 07:19] #384 closed

[2021-05-09 11:48] acro5piano commented on #138
My idea is to rely on this lib:

https://github.com/leecade/react-native-swiper

[2021-05-09 11:58] acro5piano commented on #389
Fixed via #408

Will be released on v1.0.0

[2021-05-09 11:58] #389 closed

[2021-05-09 12:39] acro5piano opened #409 "style prop is applied to every components (header, body)"

[2021-05-10 08:35] acro5piano commented on #138
react-native-swiper does not support the web!

[2021-05-10 09:34] acro5piano commented on #288
Released `month` mode on v1.0.1.

[2021-05-10 09:34] #288 closed

[2021-05-10 09:35] acro5piano commented on #264
Please upgrade react-native to the latest version.

[2021-05-10 09:35] #264 closed

[2021-05-10 09:36] acro5piano commented on #247
Duplicated #138

[2021-05-10 09:36] #247 closed

[2021-05-10 09:37] acro5piano commented on #338
It could be configured by `renderEvent` props. Feel free to reopen if you still want it.

[2021-05-10 09:37] #338 closed

[2021-05-10 09:37] acro5piano commented on #375
Fixed. #415

[2021-05-10 09:37] #375 closed

[2021-05-10 09:37] acro5piano commented on #324
Feel free to reopen if you still have a question.

[2021-05-10 09:37] #324 closed

[2021-05-10 09:39] acro5piano commented on #335
I've confirmed the behavior on my Android device. Maybe panResponder and scrollView are not working correctly. Weird thing is that sometimes it works but sometimes not.

[2021-05-12 13:31] acro5piano commented on #335
I've checked `v1.0.1` and this issue seems to have gone. If you have still this issue, feel free to open.

[2021-05-12 13:31] #335 closed

[2021-05-15 03:56] shani1118 opened #421 "Show current date/month/year and next/previous controlls"
How to show current date, month and year at top. Also controls with left/right arrow for next/previous month/week/year based on whatever mode is selected.

[2021-05-15 10:10] acro5piano commented on #421
@shani1118
They will be managed on your own logic. Basically you should use own state. The code should be like this:

[code]

Please take a look at the storybook:

https://github.com/acro5piano/react-native-big-calendar/blob/master/stories/desktop.stories.tsx#L94-L100

https://react-native-big-calendar.netlify.app/?path=/story/desktop--with-controls

[2021-05-20 10:24] MedRaid opened #422 "Calendar hours range"
Hello,

thank you for the great library it is really awsome good work,

I am actually trying to change the hours range from [00:00-23:00] to [08:00-19:00], i have tried to change the hours variable in index.js, but the events are no longer aligned with their proper HourGuideColumn, can you help please ?

Thank you in advance

[2021-05-20 15:00] acro5piano commented on #422
Hey,

Can you show the code? And a screenshot is helpful.

[2021-05-31 13:31] mikeschoneveld opened #423 "weekStartsOn 1 not working when switching from day to week view"
When I set weekStartsOn to 1 and the weeks starts on Monday the week is shown correctly but when the day view is active on a Sunday and I switch to the week view it shows me the week after instead of the current week.

[2021-06-01 14:33] acro5piano commented on #423
Thanks for reporting. I'll check it later.

On Mon, May 31, 2021, 10:31 PM Mike Schoneveld ***@***.***>
wrote:

[2021-06-02 01:46] #423 closed

[2021-06-02 02:10] acro5piano commented on #423
Released on v1.0.2

[2021-06-02 17:25] priami93 opened #439 "Show Month name on 'month' mode view"
Hi, is possible to show the month name on 'month' mode view?

[2021-06-03 00:25] acro5piano commented on #439
Currently this lib doesn't do that. Instead, you can connect your state with calendar like this:

[code]

[2021-06-03 12:02] Hamza-falcon opened #440 "min and max date ranges for calendar"
Its not possible to set only a specific date and disable the rest like in react-big-calander

[2021-06-03 13:52] acro5piano commented on #440
Can you describe it more in detail?

[2021-06-04 05:24] Hamza-falcon commented on #440
i'm trying to show only a range of the month as available and every other date should be disabled. In react-big-calander there are props Min and Max that allow us to only show available date and the rest is greyed out and is not clickable
![Screenshot 2021-06-04 at 10 23 24 AM](https://user-images.githubusercontent.com/76831548/120749984-f977c980-c51e-11eb-8b16-29ca9f78aa55.png)

[2021-06-04 05:51] acro5piano commented on #440
That's a good feature. Thanks for sharing. If you send a PR for this, I'm happy to merge!

[2021-06-04 06:26] Hamza-falcon commented on #440
i haven't added the feature i'm saying it in react-big-calendar and not in react-native-big-calendar

[2021-06-06 16:20] acro5piano commented on #440
Yes, I know it. Currently I can't develop new features for lib much because I don't use it for my current project and I'm busy for my full-time job now.
So if you want the feature and you create a PR for the feature, I'm happy to merge it.

Please remember this is an OSS and I'm working for my full-time job.

[2021-06-09 23:17] acro5piano opened #441 "min and max time range"
Related: #440

It would be great if min and max time range.

Proposal:

[code]

[2021-06-10 15:42] hmoule opened #442 "Cell showing "More" multiple times"
![Simulator Screen Shot - iPhone 11 - 2021-06-10 at 16 38 50](https://user-images.githubusercontent.com/57354264/121555101-a1533280-ca0a-11eb-8d6c-1754dd9d6e0c.png)

Shouldn't it just be showing "5 more" and "7 more" once?

Here's my code

[code]

[2021-06-11 06:14] acro5piano commented on #442
I'll check it weekend.

[2021-06-14 09:03] ThangKillah opened #443 "Calendar layout with mode="month""
when i try calendar with mode ="month" the layout seems incorrect, other mode work fine:
![Screenshot_20210614-160302](https://user-images.githubusercontent.com/33564881/121867298-05873680-cd2a-11eb-9b4d-52f83a69c190.png)

[2021-06-16 00:10] acro5piano commented on #443
That's too bad. We should fix the hard coded part.

[2021-06-16 04:18] ThangKillah commented on #442
i have same problem @@ need hot fix this

[2021-06-19 10:00] priami93 commented on #443
Same problem

[2021-06-20 06:28] umarmansuri opened #444 "Month View for Mobile is not available"
I need to create a month view with calendar events which is available on desktop demo

https://react-native-big-calendar.netlify.app/?path=/story/desktop--month-mode

[2021-06-20 14:38] acro5piano commented on #444
Thanks for reporting. We should fix this

[2021-06-20 14:38] acro5piano commented on #443
#444

[2021-06-24 08:23] umarmansuri commented on #444
is possible to get the solution soon? @acro5piano

[2021-06-24 10:37] acro5piano commented on #444
Sorry I have marriage ceremony on early July so I'll work after it.
If you send a PR for this, I'll happy to merge!

[2021-06-30 14:25] sr0409 opened #445 "ampm mode does not apply to events"
![Screenshot_20210629-223704](https://user-images.githubusercontent.com/46093425/123977915-0902fa80-d985-11eb-8505-c8ccc0265e24.jpg)

[2021-06-30 14:27] sr0409 commented on #445
In my opinion it will make sense to apply the ampm mode to events as well.

[2021-06-30 16:08] acro5piano commented on #445
I agree with your suggestion!

On Wed, Jun 30, 2021, 11:27 PM Stan Razumov ***@***.***>
wrote:

[2021-07-09 14:24] harrymash2006 opened #456 "Does this calendar support spanning event through multiple days ?"
I want to display something like this. Is this possible ?

![example](https://user-images.githubusercontent.com/5957516/125092912-6fa7b700-e0ef-11eb-8d84-1a30ed64bfd2.png)

https://github.com/ericz1803/react-google-calendar

[2021-07-09 23:49] acro5piano commented on #456
Hi, thanks for your interest.
Currently no. You can insert all day events, but not display spanning
multiple days.

This feature is a to-do.

On Fri, Jul 9, 2021, 11:24 PM harrymash2006 ***@***.***>
wrote:

[2021-07-17 08:30] #444 closed

[2021-07-17 08:31] acro5piano commented on #443
Fixed by #466

[2021-07-17 08:31] #443 closed

[2021-07-17 08:36] acro5piano commented on #444
The fix has been released on v1.0.3

[2021-07-17 08:36] acro5piano commented on #443
The fix has been released on v1.0.3

[2021-07-17 13:43] umarmansuri opened #468 "Is it possible to get different event like Leave meeting, Complete Meeting Or Drop meeting?"
Hi
 I need to make some business logic in my app after completing the Meeting or the event of the Leave meeting? But I am not able to found any events to capture and do this.
Will you please help in this

[2021-07-17 13:45] #468 closed

[2021-07-17 13:45] umarmansuri commented on #468
Sorry its my bad this issue is not related with this

[2021-07-18 02:47] acro5piano commented on #442
Fixed by #466 , released on v1.0.3

[2021-07-18 02:47] #442 closed

[2021-07-18 02:48] acro5piano commented on #468
I'm glad you fixed the issue on your own.
For others, it would be great if you share what you did!

[2021-07-19 00:47] DavidInojosa opened #469 "Receiving TypeError: undefined"
Running this lib for the first time and receiving this Type Error:

[code]

Maybe is happening because of some configuration, but I implemented:

at configuration: yarn add react-native-big-calendar
also added: yarn add @types/react @types/react-native

[code]

[2021-07-19 05:27] #469 closed

[2021-07-19 05:31] acro5piano commented on #469
Hi @DavidInojosa , thank you for reporting!
I've fixed it on v1.0.4, so please upgrade your dependency and confirm that it was fixed.

[2021-07-23 10:20] umarmansuri commented on #444
Hi @acro5piano
Thanks for the solution I update my code but having one issue of white spacing in the Calendar Component
And please share how to increase the height and width of the cell too
![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/3337060/126768874-1c60f6cd-2e83-4752-b5bd-91f5baf19f4e.png)

[2021-07-24 11:23] acro5piano commented on #444
@umarmansuri Which version do you use?

[2021-07-25 07:29] umarmansuri commented on #444
latest version which you just published under #466 v1.0.3

[2021-07-25 10:12] acro5piano commented on #444
![Screenshot_20210725_191118_com rndemo](https://user-images.githubusercontent.com/10719495/126895544-e2ca18d5-8bbb-4654-abe9-665b42f31217.jpg)

That's strange. I can see this screen. Can you post your code and environment?

[2021-07-27 09:47] damian-mac commented on #93
is there an ETA on this feature?

[2021-07-27 12:29] acro5piano commented on #93
@damian-mac
Thanks for the reminder. I can't say exact ETA of this feature, because a refactoring for `style` property is needed. For now, please use `renderEvent` prop.

https://github.com/acro5piano/react-native-big-calendar#eventrenderer

[2021-07-28 00:37] damian-mac commented on #93
Thank you so much, much appreciated!

[2021-07-28 11:42] itsRahulDa opened #471 "(android) date not visible on calendar month mode."
<img width="357" alt="Screenshot 2021-07-28 at 5 09 44 PM" src="https://user-images.githubusercontent.com/77659833/127316542-933648c7-f14c-4388-9684-2a7c6b951c10.png">

    "react-native-big-calendar": "^1.0.4",

[2021-07-28 12:12] itsRahulDa commented on #471
on some months last months are not visible

<Calendar
        events={events}
        mode={'month'}
        date={current.toDate()}
        height={500}
      />

but in iOS its working fine.

[2021-07-28 13:36] juspeeh opened #472 "Encountered two children with the same key"
The key for event generated with the logic `key={'${event.start}${event.title}'}`. I have a case where there can be multiple events with exactly same details. This results in a react warning.

Maybe index be added to the combination to prevent this from happening?

[2021-07-28 13:40] acro5piano commented on #472
Hi, thanks for the interest. Yes it should be fixed. Can you send a PR for this? Maybe index is enough, but adding `keyExtractor` is ideal.

https://reactnative.dev/docs/flatlist#keyextractor

[2021-07-28 16:26] itsRahulDa commented on #471
@acro5piano could you please suggest any fix.

[2021-07-29 01:31] acro5piano commented on #471
Thanks for reporting!

I confirmed the issue on Android, but not find how to fix this now.

[2021-07-29 11:53] mindbodysolotestfirebase opened #473 "Can we add some css class to calender header. Need to hide it in one of usecase"
Need to hide calendar header which shows date. Any ways to do it? Can we provide any class to handle css

[2021-07-29 14:05] acro5piano commented on #473
Hi, thanks for your interest in this project.

What do you mean by "hide"? Does it means to remove the element entirely, or make it invisible?
In either way, there is no way to do it for now, I'll work on improve it soon. I'll add this to the to-do list.

[2021-07-30 08:03] mindbodysolotestfirebase commented on #473
Thanks @acro5piano for replying. Yes means customized css classes for calendar header so that we can make css changes

[2021-07-31 09:43] acro5piano commented on #93
I'm working on providing theme functionality.

https://github.com/acro5piano/react-native-big-calendar/pull/475

[2021-08-01 04:21] acro5piano commented on #93
@damian-mac @Minte-grace
I'm working on the custom theme functionality. Can you check it? I'll release it as v3.0.0-alpha. Thanks!

https://deploy-preview-475--react-native-big-calendar.netlify.app/?path=/story/desktop--provide-custom-theme

[2021-08-01 05:28] VinitSarvade commented on #473
I would like to take this up @acro5piano. Will send out a PR shortly.

[2021-08-01 06:05] acro5piano commented on #473
@VinitSarvade Fantastic! Could you implement it by adding `renderCalendarHeader` prop? It should accept appropriate date range.
It makes the component more flexible. Thanks!

[2021-08-01 09:51] acro5piano commented on #473
@VinitSarvade
@mindbodysolotestfirebase

I'm working on this PR and will release `v3.0.0-beta` soon.

https://github.com/acro5piano/react-native-big-calendar/pull/475

[2021-08-01 15:35] acro5piano commented on #473
As I've published `v2.0.0-rc` and implemented this topic, I'll close this issue. If you have bugs on it, feel free to report it!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.0.0-rc

[2021-08-01 15:35] #473 closed

[2021-08-01 15:37] acro5piano commented on #472
As I've published `v2.0.0-rc` and implemented this topic, I'll close this issue. If you have bugs on it, feel free to report it!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.0.0-rc

Summary: I've added ${event.end} too. It's rare that the collision happens.

[2021-08-01 15:37] #472 closed

[2021-08-01 15:37] acro5piano commented on #445
As I've published `v2.0.0-rc` and implemented this topic, I'll close this issue. If you have bugs on it, feel free to report it!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.0.0-rc

Summary: Fixed it.

[2021-08-01 15:37] acro5piano commented on #439
Closing with no activity.

[2021-08-01 15:38] acro5piano commented on #439
See https://react-native-big-calendar.netlify.app/?path=/story/full-customization--main

[2021-08-01 15:38] acro5piano commented on #421
Closing with no activity.

See https://react-native-big-calendar.netlify.app/?path=/story/full-customization--main

[2021-08-01 15:39] acro5piano commented on #409
As I've published `v2.0.0-rc` and implemented this topic, I'll close this issue. If you have bugs on it, feel free to report it!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.0.0-rc

Summary: Fixed it. use `headerContainerStyle` and `bodyContainerStyle` props.

[2021-08-01 15:40] #409 closed

[2021-08-01 15:41] acro5piano commented on #243
As I've published `v2.0.0-rc` and implemented this topic, I'll close this issue. If you have bugs on it, feel free to report it!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.0.0-rc

Summary: You can now use `theme` prop.

[2021-08-01 15:41] #243 closed

[2021-08-01 15:42] acro5piano commented on #93
As I've published `v2.0.0-rc` and implemented this topic, I'll close this issue. If you have bugs on it, feel free to report it!

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.0.0-rc

Summary: You can now use `theme` prop. `primary` color will be applied to both the blue active day and background of event. even you can use `renderEvent` to implement it.

[2021-08-01 15:42] #93 closed

[2021-08-01 15:42] #439 closed

[2021-08-02 15:29] VinitSarvade opened #488 "Changing date prop of Calendar component not updating the Calendar UI"
I've added a custom header to the calendar, where I'm allowing the change of date with prev and next buttons.
Clicking these buttons, the date is being updated and passed on to the Calendar component. But the Calendar UI remains the same. It does not change to the date. Swipping on the calendar works, but not via an external state.

Here is my code

[code]

Here is the CalenderHeader
[code]

This

[2021-08-02 15:43] acro5piano commented on #488
Thanks for reporting.

Which platform are you trouble in? and how your `CalendarHeader` looks like?

It does not happen when I tried on the web - please check it the following files.

- src: https://github.com/acro5piano/react-native-big-calendar/blob/master/stories/full-customization.stories.tsx
- story: https://react-native-big-calendar.netlify.app/?path=/story/full-customization--main

Thanks

[2021-08-03 04:24] VinitSarvade commented on #488
I've tried it on both android and ios.

[2021-08-04 15:36] juspeeh opened #489 "Adding custom styles to stacked events"
Ran into an issue when creating custom colors for events. I have two events with same colour on top of each other. I'm trying to separate them visually using box shadow but for some reason box shadow styling doesn't seem to be applied to the component on top. Is there some override there?

If there was some property passed to `eventCellStyle` which would indicate if a component is on top of anothe

[2021-08-05 11:57] acro5piano commented on #489
Thanks for reporting. I'll check it on the weekend, but can you try the `renderEnent` prop first? By it you can fully control the component. Thanks

[2021-08-05 12:40] juspeeh commented on #489
Sure I'll give it a go 👍

[2021-08-05 15:34] acro5piano commented on #489
Also if you have still the issue, please attach your code so that I can dig in it. Thanks!

[2021-08-17 03:39] pnam29 opened #493 "How to match with time(start - end) of event when i custom it at renderEvent"

[2021-08-17 04:07] pnam29 opened #494 "Can i scroll down to change focus date (same swippe) ??"

[2021-08-17 08:12] #493 closed

[2021-08-24 15:09] acro5piano commented on #494
Please describe your question more specifically.

[2021-08-30 21:42] dandresfg opened #496 "i got 2 saturdays"
[img](https://imgur.com/gallery/ce32buY)

i dont know exactly why. i just added the library.

[code]

[2021-09-01 08:10] acro5piano commented on #496
Hi, I think you are posting to wrong place :grin:

https://github.com/jquense/react-big-calendar

[2021-09-01 08:10] #496 closed

[2021-09-01 08:13] acro5piano commented on #494
Sorry for my slow response.

I understand what you want. Unfortunately, there is no feature like that. I would like to merge if you create a PR for that.

[2021-09-01 08:42] CptMaumau commented on #456
@harrymash2006 I added the feature and it was released in 2.0.1! If you could give a feedback, that would be awesome.

[2021-09-01 11:33] harrymash2006 commented on #456
@CptMaumau Wow. I will surely check this out and update you

[2021-09-16 15:24] walidbezzaoui opened #508 "All Day Events not working for events more than 1 day"
I've tried to use all day events, it works properly if it's 1 day event, as long as you add an event that takes more than 1 day it always display the first day only.
For Example, from your story book, if you add 3 days in the end date it doesn't work. only shows the event in the start date.
    const _events = [
      ...events,
      {
        title: 'Vacation',
        start: dayjs().add(1, 'day

[2021-09-16 16:33] acro5piano commented on #508
Hi, I confirmed the issue.

The current render method of all-day event should be re-written to include all day.

https://github.com/acro5piano/react-native-big-calendar/blob/71ae5cdbaabf2cf344114f074105e5c85f1f2503/src/components/CalendarHeader.tsx#L106-L125

Deeply related: https://github.com/acro5piano/react-native-big-calendar/issues/456

[2021-09-16 17:23] walidbezzaoui commented on #508
@acro5piano here is a pr for the fix:
https://github.com/acro5piano/react-native-big-calendar/pull/509/files

[2021-09-17 04:37] acro5piano commented on #508
Released on https://github.com/acro5piano/react-native-big-calendar/releases/tag/v2.1.1
Thanks for your contribution!

[2021-09-17 04:37] #508 closed

[2021-09-17 04:50] acro5piano commented on #488
It's strange.

[2021-09-17 04:51] acro5piano commented on #494
For future reference, please keep this issue open.

[2021-09-17 04:54] acro5piano commented on #444
Please try the new version (above v2.0.0) again.

[2021-09-17 05:00] acro5piano commented on #264
I think this is related to Windows. We don't support it as a build machine.

[2021-09-17 05:06] #445 closed

[2021-09-17 21:23] nandorojo commented on #138
React Native tabview does have web support https://github.com/satya164/react-native-tab-view

An alternative is FlatList

[2021-09-24 05:39] acro5piano commented on #138
@nandorojo
Thank you for the information. That should be useful for us too.

[2021-09-28 21:42] walidbezzaoui opened #518 "Performance issue when having many events in a day"
Hi,
I was testing this library to have a day full of events around 20 events, but the calendar lags a lot and it's impossible to work with, I don't see performance issues when having only few events 3 or 4 in a day.
Need to look to improve performance,
Thanks

[2021-09-28 21:45] walidbezzaoui commented on #518
First test was in Chrome browser, I just tested in IOS it's even worse for performance

[2021-09-29 09:35] acro5piano commented on #518
Thank you for reporting the issue.

It's a shame. Can you improve it?

[2021-09-30 12:44] davide435 opened #520 "onPressDateHeader does not mark the date I click in the UI"
I can't get the date to be marked with the onPressDateHeader props,

[2021-09-30 22:33] walidbezzaoui commented on #518
@acro5piano I'll try to find a room of improvements, but I noticed that performance issue is mostly when you go to next or previous date, it looks like the entire component is re rendered and the profiler mostly see the performance related issues to _calendarBody component !

[2021-10-01 01:55] acro5piano commented on #518
That's a great suggestion! Thank you for digging it.

[2021-10-01 02:57] acro5piano commented on #520
Please rewrite your code to be readable for me.

[2021-10-06 19:58] walidbezzaoui commented on #518
closing the issue for now, alternative solution and what I recommend for users using this library, do not load all events at once, load only what you see in the view, if it's weekly view only load data for the current week and so on, it should be much better for performance since it only rerender the events in the selected view.

[2021-11-15 10:38] Pamposgsk opened #546 "Drag and drop external events"
Hi,
Is there a possibility to drag n drop events from external table to the calendar?
Thanks
Pampos

[2021-11-15 19:25] acro5piano commented on #546
Hi, thank you for your interest in this project.

By `external table` you mean `DND from other <View /> or something outside the calendar`, right?

If so, it's not possible for now. If you send a pull request, I'm happy to merge it. However, I think that could be a hard work.

Cheers

[2021-11-18 13:41] TeeRa0ne opened #547 "Events not displaying in the calendar with RenderEvent"
Hi,

I create a renderEvent function and the events are displaying on the bottom of the calendar :
![Screenshot_2021-11-18-14-33-38-093](https://user-images.githubusercontent.com/60188443/142425775-ce934dd7-231b-4a88-b01e-a66937ab587c.jpeg)

My code :

<img width="632" alt="Capture d’écran 2021-11-18 à 14 40 50" src="https://user-images.githubusercontent.com/60188443/142426138-db2d7410-4dfb-4615

[2021-11-18 14:43] acro5piano commented on #547
Hi, thanks for your interest in this project!

I think you should assign the `touchableOpacityProps`.

[code]

[2021-11-18 14:49] TeeRa0ne commented on #547
Thanks you for you're reply, i add the touchableOpacityProps but it doesn't work... :(
[code]

[2021-11-19 01:34] acro5piano commented on #547
The style is overwritten. Please try the following:

[code]

[2021-11-19 09:16] TeeRa0ne commented on #547
It's dosen't work,

My calendar balise :
[code]

My render event :
[code]

[2021-11-19 17:14] TeeRa0ne commented on #547
My bad the props that I had declared were not correct.

Thanks you for you're help !

[2021-11-19 17:15] #547 closed

[2021-11-21 04:24] acro5piano commented on #547
Glad to hear that!

[2021-11-30 14:08] floccoclaudio opened #553 "Change current-day background color"
Is there a way to customize the background color of the currentDay exclusevly?

[2021-11-30 14:23] acro5piano commented on #553
Hi, thanks for your interest.

Unfortunately, currently no such props. Feel free to open a pull request for it.

I think this PR is useful if you make a pull request.

https://github.com/acro5piano/react-native-big-calendar/pull/548

[2021-12-02 07:06] james-interest opened #563 "Slows down when updating the 'events' array with many events"
I've noticed that there is longer rendering time as the number of items in the `events` prop increases. I recorded a video when there's a low and high number of events so show the difference.

From what I understand, day events are render in this part https://github.com/acro5piano/react-native-big-calendar/blob/master/src/components/CalendarBody.tsx#L158-L165

I haven't done any performance measur

[2021-12-02 13:52] itsRahulDa opened #564 "more count showing 0"
As have 3 events, used maxVisibleEventCount={2} but in UI its showing "0 More
like this image

![IMG_472C1AFDD1C1-1](https://user-images.githubusercontent.com/77659833/144434876-aa622e02-add1-48c5-88e5-3993068379d7.jpeg)
e"

[2021-12-03 10:37] acro5piano commented on #564
Hi @itsRahulDa

Thanks for your reporting, but I couldn't reproduce your issue with the following code. Can you share yours?

[code]

![image](https://user-images.githubusercontent.com/10719495/144588431-f10b84ef-35d2-40a8-a8cf-b99bba627a7e.png)

[2021-12-03 10:42] acro5piano commented on #563
Hi @james-interest , thanks for your interest in this lib.

Which Android version are you testing on? If 11, this issue might be related: https://issuetracker.google.com/issues/207695804?pli=1

[2021-12-06 11:57] arya2311 commented on #324
how to change text color dynamic generated event

[2021-12-06 15:02] lorenzogatti opened #568 "Support for current react native versions?"
React Native 0.59 was released in March 2019. Do you plan to support current versions of React Native? Is there some incompatibility? I'm very uncomfortable running obsolete React and React Native versions for the sake of this component.

Thank you

[2021-12-06 15:12] acro5piano commented on #324
@arya2311

Same analogy.

[code]

[2021-12-06 16:20] lorenzogatti commented on #568
If I understand NPM dependency resolution correctly, specifying versions with a caret allows versions that are at least the specified one but before the next major version: any 0.59.x (I think the last of the line is 0.59.8) is OK because it's considered a corrected 0,59,0, but 0.60 and later are incompatible.

This is because the first component of the version number of React Native is 0, making

[2021-12-06 16:28] acro5piano commented on #568
Oh really, I didn't notice that. Thanks for letting me know! Can you propose proper syntax and hopefully create a PR for this? Thanks

[2021-12-06 16:43] lorenzogatti commented on #568
Using >= instead of > would include all newer versions

"peerDependencies": {
    "react": ">=16.8.3",
    "react-native": ">=0.59.0"
},

But it's quite a bold commitment because new major versions with breaking changes would be automatically included.

Multiple ranges, adding recent major versions after proper testing and removing old ones as they become unsupported, should be more appropriate; h

[2021-12-06 16:47] acro5piano commented on #568
Thanks!

As this library does not depends on a specific version of React Native, something like this should be okay for now?

https://github.com/invertase/react-native-firebase/blob/main/packages/app/package.json#L54-L57

[2021-12-06 17:17] lorenzogatti commented on #568
With an asterisk, the specification becomes even looser than with a minimum version.

There are, necessarily, minimum required versions of React and React Native (probably so old that you never tested them, and older than you should bother supporting); allowing ancient incompatible versions that no one actually uses any more except by mistake is quite low risk.

The real problem is with future inc

[2021-12-07 06:03] acro5piano commented on #568
I understand. Please send a PR if you want.

[2021-12-07 12:57] #568 closed

[2021-12-17 09:37] james-interest commented on #563
Hi @acro5piano thanks to you for creating this library 🙏
I've been noticing the same slowness on the iOS simulator so I don't think it's necessarily related to Android. But it's only noticeable when incrementally adding new items in the `events` array so it's a pretty specific scenario.

The cause might be in the time it takes to render each event on the calendar. I tried doing the same test with

[2021-12-17 09:44] acro5piano commented on #563
Thanks for the investigation.

How many events are you rendering? A reproduce repository is really helpful!

[2021-12-17 09:59] james-interest commented on #563
On the iOS simulator it starts being noticeably slower when there are over 50 events. On Android it would be less maybe 20. I have a scenario where the user can quickly add many blocks of time. It's fine most of the time but when the users adds many events it can get slower, it is a pretty specific edge case...

Here's the repo I set up https://github.com/james-interest/rn-big-calendar-demo

[2021-12-22 17:19] vipulbuoyancy opened #574 "eventCellStyle not updating the background color of event"
eventCellStyle not updating the background color of event.

Here is my code

const getEventColor=()=>{
   return {backgroundColor:"#111", color:"#fff"};
}

<Calendar
          height={Dimensions.get('window').height - 60}
          events={[...getEvent]}
          mode={mode}
          eventCellStyle={()=>{ getEventColor()}}
          swipeEnabled={true}
          onPressEvent={() => { SetShowModa

[2021-12-23 01:33] acro5piano commented on #574
I think you should remove the curly brace around the expression.

On Thu, Dec 23, 2021, 2:19 AM vipulbuoyancy ***@***.***>
wrote:

[2021-12-23 08:54] girish-floorzap commented on #574
Thanks @acro5piano it is working as expected without curly brace.

[2021-12-23 09:04] girish-floorzap opened #575 "full day events not rendering in ios in month view & in week & day view onPressEvent is not working"
Hi,

I am facing issue with full day event rendering in month view in ios. And also it is getting rendered in week & day view, but I am not getting the OnPressEvent on click of that event. Please find the attached images

![Screenshot 2021-12-23 at 2 32 51 PM](https://user-images.githubusercontent.com/96039705/147216046-39741a32-deb9-41ce-8158-529f72d6732a.png)
![Screenshot 2021-12-23 at 2 32 31 P

[2021-12-23 13:44] acro5piano commented on #574
The complete code should be like this. If you use static cell style, you should use `StyleSheet.create` for better performance.

[code]

If you have still any issues, please re-open!

[2021-12-23 13:44] #574 closed

[2021-12-24 06:01] acro5piano commented on #575
Thanks for filing this.

1) Can you share your code?

2) The problem is the following, right?

- All day events are not rendered on the month view
- `onPressEvent` is not fired for all day events

for latter, we should modify the code:

https://github.com/acro5piano/react-native-big-calendar/blob/8cdd4226264b4d590b1457bfdbd61d37b036303f/src/components/CalendarHeader.tsx#L143-L155

[2021-12-24 06:36] girish-floorzap commented on #575
Yes, below 2 are the problems.
1. All day events are not rendered on the month view
2. onPressEvent is not fired for all day events

Below is my code
 <Calendar
                    height={Dimensions.get('window').height - 60}
                    events={[...calendarEvents]}
                    mode={mode}
                    swipeEnabled={true}
                    eventCellStyle={() => getEventCo

[2021-12-24 07:22] acro5piano commented on #575
Thanks for sharing the code but I think you are uploading wrong event json. All day events should have time which is 0 in hour, minutes, and seconds (`00:00:00`)

Anyway I can successfully reproduce the issue by following code. I'm debugging now.

[code]

[2021-12-24 08:14] #575 closed

[2021-12-24 08:22] acro5piano commented on #575
@girish-floorzap
Hi, I've fixed the issue on v2.9.0. Can you check it is working for you? Thanks!

[2021-12-24 11:37] pranavaccion commented on #547
hi i used same function but still all my events are showing in bottom

[2021-12-24 11:40] acro5piano commented on #547
@pranavaccion
Please share your code fully. I can't help you unless you share it.

[2021-12-24 11:42] pranavaccion commented on #547
const events = [
	{
		id: 0,
		title: 'All Day Event very long title',
		allDay: true,
		start: new Date(2021, 11, 22),
		end: new Date(2021, 11, 22),
		type: 'In',
	},
	{
		id: 1,
		title: 'Long Event',
		start: new Date(2021, 11, 7),
		end: new Date(2021, 11, 10),
		type: 'in',
	},

	{
		id: 2,
		title: 'DTS STARTS',
		start: new Date(2016, 2, 13),
		end: new Date(2016, 2, 20),
		type: 'tele',

[2021-12-24 12:03] girish-floorzap commented on #575
Yes, It is working as expected now. Thanks a lot for your quick fix.

[2021-12-24 12:10] girish-floorzap opened #577 "Multiple day event in Month view onPressEvent is just working on first day and not on remaining days"
When we have a multiple day event onPressEvent is just firing for first day of the event and not firing for remaining days.

Please have a look at attached image. In the image, we have multiple day event from 28th to 31st. so when we click on 28th onPressEvent will work fine but it will not work on remaining days of 29,30 & 31.

![Screenshot 2021-12-24 at 5 31 48 PM](https://user-images.githubuser

[2021-12-24 12:31] pranavaccion commented on #547
hey @acro5piano it is working now once I separated render event comp from parent component. just have one doubt can I colour code event background based on event type ??

[2021-12-24 12:35] pranavaccion commented on #547
![Screenshot 2021-12-24 at 6 05 02 PM](https://user-images.githubusercontent.com/84321162/147353019-93d1d47a-ccff-4e23-a395-1333543437e3.png)

[2021-12-24 12:35] pranavaccion commented on #547
@acro5piano thank you in advance ..waiting for response

[2021-12-24 12:40] acro5piano commented on #577
Thanks for reporting it.

I'll fix it soon.

[2021-12-24 12:42] acro5piano commented on #547
@pranavaccion
Glad to see you resolved the issue on your own.

I think you can use `eventCellStyle` for that.

[2021-12-24 12:42] #577 closed

[2021-12-24 12:47] acro5piano commented on #577
Fixed on v2.9.1

@girish-floorzap Can you check it again?

[2021-12-24 13:05] girish-floorzap commented on #577
yes, it is working now. Thanks a lot for quick fix.

[2021-12-26 17:27] sk1794 opened #579 "Is there any way to provide functionality of changing the year?"
I want to provide buttons for changing year and also month, is there any way i can do that?

[2021-12-27 05:46] TechSaq opened #580 "How can I give backgroundColor to individual cell slot? Let's say in the Month view, I want to show past days cell in different color, current day cell in a different color and upcoming days in a different."
**Something like as in attached image.**

![image](https://user-images.githubusercontent.com/28209930/147438649-540ce297-148d-4390-9bd3-9a59245208ff.png)

[2021-12-27 08:26] acro5piano commented on #579
Hi, you can use `date` prop and change it manually.

https://github.com/acro5piano/react-native-big-calendar/blob/d93bc11783f5b6cce0cd1f86cde881a4b40f1e07/stories/desktop.stories.tsx#L140-L157

If you have questions, feel free to ask here.

[2021-12-27 08:26] #579 closed

[2021-12-27 08:33] acro5piano commented on #580
Currently not possible, but you are welcome to create a pull request for this.

I think injecting dynamic `style` props from top level would solve the problem. I think we should remove `evenCellBg` and `oddCellBg` theme prop because of this feature (which needs major update)

https://github.com/acro5piano/react-native-big-calendar/blob/d93bc11783f5b6cce0cd1f86cde881a4b40f1e07/src/components/Calend

[2021-12-27 09:21] TechSaq commented on #580
Okay, I will start working on it ASAP and might need some help from you.

[2021-12-27 09:24] acro5piano commented on #580
Thanks!

- Please test your code with `yarn storybook`
- Please use the same analogy with `eventCellStyle`, which accepts a static object or function which accepts date

[2022-01-03 12:37] iranaahsanali opened #603 "Horizontal Scroll issue on multiple events in day view."
In case we are showing events like this, by adding the offset value of events UI, it's not scrollable, Is there any way to enable scrolling by passing some kind of props?
![scrollingIssue](https://user-images.githubusercontent.com/18231674/147931049-e508ec1c-6a90-4e0b-a0ac-b7ae561009fc.png)

[2022-01-03 13:05] acro5piano commented on #603
Hi, thanks for reporting this. Is the issue happening on iOS and Android?

Unfortunately, currently no props are available for that purpose. Instead you can place your own components which changes the current date.

[2022-01-04 14:48] iranaahsanali commented on #603
I am the issue in iOS. If you can briefly explain it, I can submit a PR after adding the scroll view.

[2022-01-04 14:55] acro5piano commented on #603
Thanks!

The pan responder is rendered on the back of event cells which might the reason of the bug, but I couldn't reproduce it on my device. React Native version might be related.

[2022-01-04 15:20] JavaScriptJohn opened #604 "Week view with Month like day spanning"
A week view calendar that works just like the month calendar but in a week view. So the each day wouldn't show times, it would show events/spanning like the month view.

[2022-01-04 16:57] iranaahsanali commented on #603
I will try with the upgraded react-native version, let you know if it works.

[2022-01-05 09:58] davidaik opened #605 "height prop doesn't do anything"
I installed the module and included the component in my React Native app.

    function Schedule() {
      return (
        <View style={{ height: '100%' }}>
          <Calendar events={[]} height={100} />
        </View>
      );
    }

The `height` prop doesn't do anything. The result is the same whether I set it to 50, 80, 100 or 120.

I'm on React Native `0.63.4` and OS is Android 11.

[2022-01-05 10:08] acro5piano commented on #605
You should specify absolute height of your calendar as a number. Please
calculate actual height using Dimension.

On Wed, Jan 5, 2022, 6:58 PM David Heisnam ***@***.***> wrote:

[2022-01-05 10:15] #605 closed

[2022-01-05 10:55] davidaik opened #606 "[QUESTION] What is the empty space in the header?"
![calendar](https://user-images.githubusercontent.com/16955921/148206243-f7f0a3f1-77f0-41f6-94cd-c0e11591890b.jpg)
Hi. I've just gotten started with this wonderful module, and I was wondering about the empty space that is in the header? I marked it in the image above. Does it serve a purpose? I was thinking that maybe it would be better to make the date and day appear closer to the bottom border?

[2022-01-05 14:03] acro5piano commented on #606
Hi @davidaik, thanks for your interest. The space is reserved for all-day events and currently no way to hide it. If you create a pull request for that, I'm happy to merge it. Thanks!

[2022-01-05 17:27] davidaik commented on #606
Thanks for the response, @acro5piano. I'll try introducing an option to hide that empty space.

[2022-01-06 03:04] acro5piano commented on #606
Sorry I forgot it, but `showAllDayEventCell` property may do it.

[2022-01-06 03:35] acro5piano commented on #604
Thanks for your interest.

It shouldn't be hard to implement, but that mode is completely different from ical/google calendars and I don't think the UI is common for everyone.

[2022-01-06 04:45] shailesh896 opened #607 "Duplicate key for the events"
in your current code the key used in  CalendarEvent in the calendar body component doesn't guaranty unicity.
<CalendarEvent
      key={`${event.start}${event.title}${event.end}`}
       ...../>
 it gives error saying multiple children with same key found when two events with same title are booked on same start and end time.
I know it is a rare case but we get cases with no title up front.
so, coul

[2022-01-06 06:12] davidaik commented on #606
It worked! Thank you so much, @acro5piano!

[2022-01-06 06:12] #606 closed

[2022-01-06 09:34] shailesh896 opened #608 "date prop"
on passing the date prop it throws error:

Warning: Maximum update depth exceeded. This can happen when a component calls setState inside useEffect, but useEffect either doesn't have a dependency array, or one of the dependencies changes on every render.
    in _CalendarContainer (created by _Calendar)
    in _Calendar (at Calendar.tsx:122)
    in EventCalendar (at SlotSelection/index.tsx:141)

[2022-01-06 09:36] acro5piano commented on #608
I think you are missing `useCallback` to your function. I can't help you unless you share whole code. Thanks

[2022-01-06 10:08] shailesh896 commented on #608
Calander.tsx

import React, { useCallback, useState } from 'react'
import { Dimensions } from 'react-native'

import {
  ApolloClient,
  ApolloQueryResult,
  useApolloClient
} from '@apollo/client'
import Calendar, { ICalendarEvent } from 'react-native-big-calendar'
import { useFocusEffect, useNavigation } from '@react-navigation/core'

import { getScheduledActivities as getScheduledActivitiesQuer

[2022-01-06 10:10] acro5piano commented on #608
@shailesh896 Thanks for providing the code. Can you wrap the `onPressEvent` function with `useCallback`?

[2022-01-06 11:28] shailesh896 commented on #608
so i added the useCallback , not sure if this what you asked,but the error persist. could youyhelp

import React, { useCallback, useState } from 'react'
import { Dimensions } from 'react-native'

import {
  ApolloClient,
  ApolloQueryResult,
  useApolloClient
} from '@apollo/client'
import Calendar, { ICalendarEvent } from 'react-native-big-calendar'
import { useFocusEffect, useNavigation } from '

[2022-01-07 01:49] acro5piano commented on #607
Please send a PR for that. Thanks

[2022-01-07 05:22] #607 closed

[2022-01-07 06:32] shailesh896 commented on #608
Hi, acro5piano can you confirm whether its a bug or not !

[2022-01-07 06:38] acro5piano commented on #608
You seems not to understand how to use `useCallback`. If you pass an arrow function to child component, it break all benefits of `useCallback`. So try again with

[code]

[2022-01-07 07:05] shailesh896 commented on #608
Oh my mistake sorry for that and thanks for the solution and knowledge, it works fine now. thanks a lot.

[2022-01-07 07:05] #608 closed

[2022-01-07 07:32] acro5piano commented on #608
@shailesh896 Glad to hear that!

[2022-01-07 11:40] roggyboy opened #609 "Wrong event.endDate if event last longer than a week."
Hi.
If an event lasts longer than a week the end date calculation is wrong when in month view.
Have you ever seen this problem before?

![image](https://user-images.githubusercontent.com/97289277/148537580-ce3d46ca-e400-4583-96a0-29248bb12fe6.png)

[2022-01-11 12:54] lucaspwo opened #612 "Change the "more" count text"
Hi!

Is there a way to change the default "More" text (when multiple events in one day) to a word in another language? I'd like to change to portuguese, but I couldn't find if it already exists.
![image](https://user-images.githubusercontent.com/11259510/148944676-a258a470-2e30-416e-ace9-fa8ff7da84f6.png)

[2022-01-12 08:03] shailesh896 opened #613 "iOS Invariant Violation"
i am getting and error in iOS while using scrollOffsetMinutes prop.

[code]
error
`Invariant Violation: [1783,"RCTScrollView",1,{"flexGrow":1,"flexShrink":1,"flexDirection":"column","overflow":"scroll","height":694,"scrollEventThrottle":32,"showsVerticalScrollIndicator":false,"contentOffset":{"x":0,"y":"<<NaN>>"},"alwaysBounceVertical":true,"onLayout":true,"onMomentumScrollBegin":true,"onMomentumS

[2022-01-13 16:20] acro5piano commented on #613
I think your `scrollOffsetMinutes` become `NaN`. so you should do like this:

[code]

Please re-open if the solution does not work.

[2022-01-13 16:20] #613 closed

[2022-01-13 16:22] acro5piano commented on #612
Thanks for your interest. The feature is not implemented yet, but if you create a PR for that I'm happy to merge it!

[2022-01-13 16:23] acro5piano commented on #609
Sorry for my slow response and thanks for reporting it.

I haven't seen the issue yet, but if you send a pull request I'm happy to merge it. Thanks!

[2022-01-15 10:10] iranaahsanali commented on #603
How can we locally add the code to this repo, do you have any guide / or quick feedback about it?

[2022-01-15 16:06] TechSaq commented on #553
@floccoclaudio I created a PR for this. Please refer this #610.

[2022-01-17 15:27] acro5piano commented on #603
@iranaahsanali This repository contains demo app. You can use it.

@titanve Can you share how do you develop the feature? Thanks

[2022-01-17 16:06] iranaahsanali opened #615 "Main module was not resolved, on forked package usage."
My requirements were a little bit different from this repo, so I forked this repo, and made some changes on it, I was testing the changes through storybook build, So after making changes I pushed that code to my repo. So when I installed the package in my project from my forked repo, it is throwing an error, the main module was not resolved. Please check the screenshot.

![image](https://user-imag

[2022-01-17 16:15] acro5piano commented on #615
Please try to build manually with `yarn build` and `rsync -auz build/ path/to/node_modules/react-native-big-calendar/`

[2022-01-30 17:54] gabrielmouallem commented on #323
Hey! Checkout my fork https://github.com/gabrielmouallem/react-native-big-calendar
I implemented the drag and drop feature here, maybe it need some adjustments but overall it's fine.

[2022-02-03 13:39] mubashiralisiddiqui commented on #615
facing same issue any solution for it?

[2022-02-03 14:21] acro5piano commented on #615
@mubashiralisiddiqui

Please try the following after `yarn install`:

[code]

[2022-02-04 05:31] CptMaumau opened #630 "Issue with merge-anything"
I couldn't build my React Native project anymore due to an issue with merge-anything :
`While trying to resolve module 'merge-anything'... this package itself specifies a 'main' module field that could not be resolved`

I managed to fix this by changing the dependency in package.json from `^4.0.2` to `4.0.2`.

[2022-02-04 05:43] acro5piano commented on #630
Thanks for reporting. Can you create a PR for it?

[2022-02-04 08:05] mubashiralisiddiqui commented on #615
@acro5piano  I already tried and it fails with an error
![image](https://user-images.githubusercontent.com/16689214/152493513-21721c2d-1306-460e-bc4b-3ba85ce48cd8.png)

[2022-02-04 09:38] CptMaumau commented on #630
Done! #631

[2022-02-04 09:43] CptMaumau opened #632 "onChangeDate infinite loop"
When I set up both `date` and `onChangeDate` props I get an infinite loop (onChangeDate is always triggered).
For example :
[code]

I might be doing something wrong, any idea?

[2022-02-04 09:46] acro5piano commented on #615
This repository is using TypeScript + Rollup. so, please try the following:

- 1. fork this repo
- 2. remove `build` from `.gitignore`
- 3. run `yarn tsc`
- 4. add `build/` dir and push to git
- 5. specify package.json to git dir like `"my-calendar": git+https://github.com/your/repo.git"`

[2022-02-04 09:56] acro5piano commented on #632
Are you using class component? We've tested code with only functional component. so my suggestion is

- Use function component.
- Wrap `updateCalendar` function with `useCallback`.

[2022-02-04 09:57] acro5piano commented on #630
@CptMaumau Thanks for you pull request. It's merged and fixed on v3.0.1. If you have any trouble, please re-open this issue. Thanks!

[2022-02-04 10:01] CptMaumau commented on #632
Ha yes my calendar component is still a Class component, I was supposed to refactor it to functional anyway. I hope it will fix it.

[2022-02-08 05:38] CptMaumau commented on #632
@acro5piano I have changed my component to functional component and wrapped `updateCalendar` with useCallback but I still get a loop... It actually happens because I have an API await call in my callback, still trying to figure why it does that.

[2022-02-14 00:57] #632 closed

[2022-02-18 06:03] CptMaumau commented on #615
Tried this and it works but with npm, not with yarn. I wonder why

[2022-02-26 14:38] #580 closed

[2022-02-26 14:41] TechSaq opened #648 "If I have many events in a same time period then in day/week view all are not visible due to less width of column. Is there a way to make all events visible in this case similar to we have more in Month view?"

[2022-02-26 14:43] TechSaq opened #649 "Show more events in a Modal."
On click of more label, a modal should open to make additional/all events visible.

[2022-03-01 08:28] Subhash-Dhandhukiya commented on #649
Hi @TechSaq

I was Facing same issue on my calendar but i resolve this issue by this.

There is one props **onPressCell** , by this props ypu will get cell date and after you can filter all events by this date and then you can show all those events by modal.

[code]

[2022-03-01 09:21] TechSaq commented on #649
Hi @Subhash-Dhandhukiya

I am using `onPressCell` to open Modal to add some events.

It will be better to have an onPress event for **more** event to display additional events in modal with some default implementation within the package and support to override the modal.

[2022-03-04 02:30] acro5piano commented on #649
Sorry for the delay.

This should be implemented. It would be glad if you create a pull request for this. Thanks

[2022-03-04 02:32] acro5piano commented on #648
I think in the Day/Week view, all events are shown. Could you share more details? Thanks

[2022-03-05 14:42] Hwangseungwoo opened #660 "InternalError Metro has encountered an error: While trying to resolve module `merge-anything` from file"
Even I installed merge-anything, I encountered this error.

Do you know How to fix?

[2022-03-05 17:20] acro5piano commented on #660
Thanks for reporting.
Are you using the yarn workspace or a similar tool?

On Sat, Mar 5, 2022, 11:43 PM Hwangseungwoo ***@***.***>
wrote:

[2022-03-07 03:38] TechSaq commented on #649
Hi @acro5piano,

I will create a PR for this. I will show a default Modal to list additional events. I will also add support to override this default modal to make it more flexible.

Thanks

[2022-03-07 03:40] TechSaq commented on #648
Hi @acro5piano

I will create a POC for this and will let you know. Thanks

[2022-03-07 06:05] acro5piano commented on #648
Thanks

[2022-03-07 06:05] acro5piano commented on #649
Thanks!

[2022-03-12 07:58] TechSaq commented on #649
Hi, @acro5piano

I am working on this PR and implementation is done almost. I have added a callback function named `onPressMoreLabel` with `onPress` of `moreLabel`.

I need suggestions from you, `onPress` of `moreLabel`,  the library itself should show a popover with additional events or leave the implementation to the end user however they want to use it.

If the library itself should show a popo

[2022-03-12 08:15] TechSaq commented on #649
@acro5piano, I also want to test the changes in my real device. Can you please help how can I test on a real device?

Thanks

[2022-03-14 03:54] acro5piano commented on #649
@TechSaq
Thank you very much!

Can you proceed with `the library itself should show a popover with additional events` for now?

I prefer not to add dependency, especially for UI library. However, if it provides better quality and save implementation cost, go for it. Thanks!

[2022-03-14 03:55] acro5piano commented on #649
I'll create a document for it.

[2022-03-14 04:03] TechSaq commented on #649
I implemented a solution without adding any dependency but in storybook looks it is not rendering properly due to deviceWidth so I wanted to tested it on a real device.

[2022-03-14 04:07] TechSaq commented on #649
I found a solution for this by using the `install-local` library. This adds local package as `localDependencies` in `package.json` and add the package to `node_modules` but while importing I am getting error.

While writing a document for this please consider the Window system.

[2022-03-22 09:26] SenseiKiritof opened #661 "Impossible to interact with calendar in month view on android"
I was trying the component when i found that the calendar in month view worked fine in ios but not in android.
I am able to press the event, change month by swiping etc. in ios, but none of these functions worked on android.

[2022-03-31 18:37] joaobsantos commented on #138
Hi guys do you intend to implemnt this? Google calndar has this animation and its real cool for the user... Anything I could do to help?

[2022-04-04 09:37] acro5piano commented on #138
@joaobsantos Thanks for your interesting. I'm recently terribly busy and not working for this feature.

[2022-04-08 09:06] sonmybbp05 opened #672 "Bug when click event on mobile in month mode."
When I plot event in big calendar on mobile month mode and some event has plot in the same of this picture.

![Untitled](https://user-images.githubusercontent.com/50799339/162401522-98a58e46-23f2-4333-abc5-22f859836d48.png)

When I click in top of free space of date 22 (at arrow) - It is show data of  254A in onEventCell event,
when I click in 254A event - It is show data of 244A in onEventCell ev

[2022-04-10 12:22] joaobsantos commented on #138
Ok, when I have a little time I'll try to do this and create a pull request, thx...

Great work :)

[2022-04-10 14:54] acro5piano commented on #138
@joaobsantos Thanks!!

[2022-04-13 16:56] milanJadav opened #673 "Not able to see month view in mobile"
![Screenshot_1649868962](https://user-images.githubusercontent.com/58222139/163231641-6e0987b4-1a26-47e8-bd07-34dc4446ee59.png)

[2022-04-13 16:58] milanJadav commented on #672
Hi @sonmybbp05 Can you share me the code how this month view is working in your device?

[2022-04-14 14:39] sonmybbp05 commented on #672
Yes, I can share it.

[code]

[2022-04-14 16:52] milanJadav commented on #672
Thank you so much @sonmybbp05 This code worked for me. Get the calendar view perfectly. Once again thank you.

[2022-04-14 16:53] #673 closed

[2022-04-15 03:03] sonmybbp05 commented on #672
Yes, it worked. But when you click on free space on top of date 22 and view in console you will see bug of calendar.

1. When I click free space on the top of date 22 : console will show element of symbol 254A but correctly it will show undefined or onPressCell.
2. When I click 254A on date 22 : console will show element of symbol M244A but correctly it will show element of 254A, but it is show tr

[2022-04-26 09:36] filipgerat commented on #660
Hello, I've encountered the same issue. We use npm not yarn. I fixed it by downgrading merge-anything to 4.0.2. Not ideal, but it worked

[2022-04-26 15:12] acro5piano commented on #660
It's strange - the version of `merge-anything` is fixed with `4.0.2`. How did you downgrade it?

[2022-04-26 17:47] filipgerat commented on #660
Yeah well, npm installed the 4.0.5 for some reason, so I added merge-anything to my projects package.json with the fixed 4.0.2 version.
Note: even with `npm I merge-anything@4.0.2` the version in package json was saved as `^4.0.2` so I edited it afterwards

[2022-05-03 07:32] CptMaumau commented on #672
Thanks for the feedback! I have realized there's quite some issue on the render of spanning events due to the ordering being different each day. I have been working on fixing that and hopefully can push a PR soon.

[2022-05-03 07:46] sonmybbp05 commented on #672
Good feedback! I will wait for your fixing. Thank you.

[2022-05-04 13:19] liudasC opened #685 "Long events not visible next day, on the week mode"
Im completly new in native, but I checked this on all three platforms, ant still the same.
On week mode, If several events starts and extends to next day, there are just one color. Looks like events that end the same day are all fine. Problem just when it extends to next day.
I used very basic setup, that is shown on README.md

![image](https://user-images.githubusercontent.com/78135009/166688770-

[2022-05-05 02:11] acro5piano commented on #685
Thanks for reporting. I'm busy on my main work now though...

[2022-05-09 19:50] successful-fella commented on #563
I have same problem. Tested with both Android and iOS. Changing month, event click and everything slows down very much (takes 4-5s) when event array contains many event.

In my case, I have 98 entries in a single month. Here's the snippet from code -
[code]

Please can anyone confirm if it works correctly for them on Android/iOS with about 100 events?

Thank you.

[2022-05-12 12:01] vipulbuoyancy opened #691 "event tile is not displaying in week view & day view."
Hi,

Please find the attached image of day, week & month view. Event title is not displaying in week & day view.
![processed-720acddc-dca4-430b-86c8-92a288afa11d_1UxW5Kd5](https://user-images.githubusercontent.com/80636669/168070222-834fbdb6-4530-4408-a77c-b530f920320b.jpeg)
![processed-a45ae859-21a0-4b08-9986-eb3323e442d3_53nrUHau](https://user-images.githubusercontent.com/80636669/168070230-d6e8

[2022-05-12 14:22] acro5piano commented on #691
How do your events look like?

[2022-05-12 15:35] acro5piano commented on #691
I mean your code. Does your event includes start time and end time properly?

[2022-05-12 16:04] vipulbuoyancy commented on #691
No, it has only start date & end date. It is a full day event.

[2022-05-12 16:45] acro5piano commented on #691
Please fill in this form

[code]

[2022-05-12 16:46] acro5piano commented on #691
Or please create a reproduction repository

[2022-05-17 13:00] vipulbuoyancy commented on #691
Hi @acro5piano , Please fin the below array of events

[
  {
    "title": "PO-1002",
    "start": "2022-05-17T18:30:00.000Z",
    "end": "2022-05-17T18:30:00.000Z",
    "invoiceId": 1002,
    "serviceTypeId": 1003,
    "jobTypeName": "Backsplash Service"
  },
  {
    "title": "PO-1003",
    "start": "2022-05-18T18:30:00.000Z",
    "end": "2022-05-18T18:30:00.000Z",
    "invoiceId": 1003,
    "serv

[2022-05-18 17:58] jordoh commented on #563
After experiencing a slowdown in month view with many events, as described, profiling pointed to a large proportion of time spent in sort, which appears to be due to the order of the `sort` and `filter` in the month view: https://github.com/acro5piano/react-native-big-calendar/blob/f738fc36d67533e3dbdcc9c4b1e2d0dfb5e7a5e8/src/components/CalendarBodyForMonthView.tsx#L175-L190

That is: all events a

[2022-05-19 10:50] BhavdipHirani opened #692 "Want to specify start time and end time like web."
Hello,

I am in a situation where I need to show specific hours in a calendar like
`min={"6:00"}
 max={"12:00"}`

Can anyone tell me how can I achieve this?

[2022-05-20 01:33] acro5piano commented on #692
Hi, thanks for your interest.
Currently the feature is not implemented, but feel free to send a pull request.

[2022-05-20 01:34] acro5piano commented on #563
Thanks for your investigation! I'm pretty busy for now but would like to try to improve it if I have time.

[2022-05-20 01:36] acro5piano commented on #691
Your event looks its Start time and End time is the same. You should at least add 30 minutes to end time.

[2022-05-31 12:01] kevinshibuya commented on #691
@vipulbuoyancy Full day events start and end property should be set to 00:00:00 hour.

[2022-05-31 12:40] acro5piano commented on #691
@kevinshibuya Thank you for clarifying it.

[2022-05-31 14:19] kevinshibuya commented on #488
Just runned into this issue too, the date state coming from the context updates the Header component but not the Calendar component, any news?

[2022-05-31 15:09] kevinshibuya commented on #488
It's the same thing with the _mode_ prop, when I try to change its value with a variable, nothing changes, and the component defaults to the "week" mode.

[2022-05-31 15:41] kevinshibuya commented on #488
Found out what I was doing wrong, I was trying to use the context on the component that was using the provider, that is why it was all undefined, the _mode_ and _date_ props are working properly on my android.

[2022-06-09 17:04] KBsoftYong opened #701 "How should I convert it when I send it to string?"
Data from php echo 2022-06-17(string)

How should I convert it when I send it to string?

my php data

[
 {
"end": "2022-05-10 12:00:00",
"start": "2022-05-10 12:00:00",
"title": "abcdefg"
 },
]

in my sample code

  const events = [
    {
      title: "244A",
      start: new Date("2022-06-17T17:00:00.000Z"),
      end: new Date("2022-06-20T17:00:00.000Z"),
    },
    {
      title: "254A",

[2022-06-10 06:28] #701 closed

[2022-06-22 20:21] harshanirudh opened #702 "Unable to install for react native 0.68.2"
Unable to install react-native-big-calendar ,

[code]

[2022-06-24 15:29] acro5piano commented on #702
Please try `v3.2.1`. I've removed peer dependencies.

[2022-06-24 17:13] harshanirudh commented on #702
Its working , able to install. Thanks :)

[2022-06-25 03:14] acro5piano commented on #702
Thanks for checking it out!

[2022-06-25 03:14] #702 closed

[2022-07-08 06:35] TechSaq opened #710 "Add support for Agenda/Schedule mode."
Library is missing a feature to show Agenda/Schedule mode.

Agenda/Schedule mode will list down all events for current month and just displaying dates on which event will occur.

Please see the attached screenshot for Google Calendar.

![image](https://user-images.githubusercontent.com/28209930/177931271-8aa18164-e794-4f37-a1d9-450514ea67d3.png)

[2022-07-08 09:19] acro5piano commented on #710
Thanks for the issue. It would be glad if someone sends a PR for this.

[2022-07-10 08:28] acro5piano commented on #710
@TechSaq
For the easiest method, please use storybook. It is hard to debug on the mobile device, so for now first develop in web.

Simply run `yarn storybook` and edit stories under `stories/` directory, then you are ready to test it.

[2022-07-11 23:24] harshanirudh opened #711 "How to increase font size ?"
Hi ,
I have recently started with react native, it would be really helpful we anyone can let me know how can i increase the font size of the hours displayed on the side

[2022-07-12 01:31] fabrianibrahim commented on #563
any updates to fix this issue?

[2022-07-12 04:46] acro5piano commented on #711
Please use the theme functionality:

[code]

[2022-07-12 04:48] acro5piano commented on #563
Unfortunately no updates for now. @jordoh 's solution sounds viable, so if someone creates a PR for this, I am happy to accept.

[2022-07-12 04:56] rohanvasishth opened #712 "Issues with onChangeDate"
I am having issues with the onChangeDate method prop.

I have a custom calendar strip (functional component) working off of a selectedDate state variable. However, anytime I change the state of selectedDate from onChangeDate, I get the following error:

Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate.

[2022-07-12 12:21] acro5piano commented on #712
Hi, can you try to wrap your handler with `useCallbaek` ?

[2022-07-12 16:50] rohanvasishth commented on #712
That doesn't fix the issue. here is the new code:

const Schedule = ({ navigation }: { navigation: any }) => {
    const [modalVisible, setModalVisible] = useState(false);
    const [selectedDate, changeSelectedDate] = useState(new Date())

    const calendarHeight = deviceHeight - Spacing.XXXL - calendarStripHeight - Spacing.XL - Spacing.L - (2 * Spacing.S)

    const handleNewCarpoolEventTapped

[2022-07-13 21:31] harshanirudh commented on #711
Thank you for the quick reply :)

[2022-07-13 21:34] harshanirudh opened #713 "How do i focus the calendar to a specific time?"
Hi ,
i would like to show the current time slot cell on loading the calendar. Right now for the current time slot, i can see the indicator but it doesn't scroll or autofocus to that position. Is this feature available ? or can anyone suggest how can i do this?

Thanks

[2022-07-14 13:39] acro5piano commented on #713
Hi, maybe the following code would focus the current hour on load.

[code]

Taken code from @rohanvasishth 's comment.
https://github.com/acro5piano/react-native-big-calendar/issues/712#issuecomment-1182007028

[2022-07-15 12:16] hirvesh opened #715 "Is there a way to make the calendar show events in a specific timezone?"
Hello! Thanks for such an awesome library! :)

Is it possible to display the calendar in a specific timezone? Especially the current time indicator.

Thanks!

[2022-07-15 13:48] acro5piano commented on #715
Hi, thanks for your interest. Unfortunately, there is no such option - however, it is possible to implement it by passing prop and specify timezone. If you create a pull request, I'm happy to merge it.

https://github.com/acro5piano/react-native-big-calendar/blob/5b1f696909532b240ffd84e520cdb0ea84538a70/src/components/CalendarBody.tsx#L81

Thanks,

[2022-07-15 23:34] rohanvasishth commented on #712
any other advice @acro5piano ?

[2022-07-16 01:33] acro5piano commented on #712
@rohanvasishth
I'm not sure what is the root cause. You can try to wrap `renderEvent` with `useCallback`. If that doesn't help, try to remove props one-by-one and detect which prop affecting the issue.

[2022-07-19 04:54] TheTushar2696 commented on #712
@acro5piano  The same issue is happening with me as well, function passed to onChangeDate runs infinitely, and goes in a loop.

[2022-07-19 07:09] TheTushar2696 opened #717 "How to remove padding between events?"
Hi,

How to remove the padding between events, I am unable to set the height of the calendar because of that, the calendar is getting truncated
<img width="246" alt="Screenshot 2022-07-19 at 12 37 01 PM" src="https://user-images.githubusercontent.com/40525668/179688253-17fad32c-d449-4097-943a-0a29615df95e.png">
t

Thanks in advance

[2022-07-20 08:24] acro5piano commented on #717
I think you can use the prop `style`, and set the padding and margin to 0. If that not help, please use `renderEvent` and implement your own render function.

[2022-07-21 10:33] CptMaumau commented on #138
I've attempted it for the month view using https://github.com/computerjazz/react-native-infinite-pager
What do you think?

https://user-images.githubusercontent.com/5366008/180193591-89ee81d5-cf71-46be-85ca-b4d60adc39a5.mp4

[2022-07-22 01:24] CptMaumau commented on #138
@acro5piano I still have to do some testing but I will asap!

[2022-07-22 13:09] joaobsantos commented on #138
@CptMaumau  thank you so much, @CptMaumau sorry it's been complicated in work, never got to this :(

[2022-07-22 13:27] chinmay4github1987 opened #719 "How to show the Header with months with arrows click navigate to next months or previous months"
Not getting the Header as Months and navigation with left or right arrows navigation to next or previous months show to appear.

[2022-07-23 13:27] acro5piano commented on #719
Are you saying that you want to show buttons to forward/backward the date?

If so, please implement it like this, as there is no preset UI for that.

[code]

[2022-07-28 10:42] #719 closed

[2022-08-01 02:25] Pakile commented on #609
@roggyboy I have the same issue, Do you have any solutions?

[2022-08-01 06:41] roggyboy commented on #609
Hi. I have not tried to find a workaround for this because we found this bug when we tried different calendar frameworks to see how we wanted our calendar page to look. So this resulted in that we went for an other solution using react-native-calendars.

[2022-08-01 09:35] acro5piano commented on #609
Fixed on v3.2.3
Thank you @Pakile

[2022-08-01 09:35] #609 closed

[2022-08-09 13:26] gani419 opened #730 "Alternate way to pass start date with different format like 'YYYY-MM-DD' instead of new Date(2022, 08, 09) in month mode"
Hi,
First of all thank you for providing the library.
I have a small issue where I'm getting data as '2022-08-08' format from server. I'm unable to convert to `**new Date(2022, 08, 08)**` in month mode.
Can you suggest me an alternate approach of providing the start date in the date or help me in converting the required format.
Thank you.

[2022-08-09 13:31] acro5piano commented on #730
Thanks for your interest. I think you should simply convert the text into `Date` object before passing the calendar component.

[2022-08-09 13:37] gani419 commented on #730
thanks for the response.
I will try once.

[2022-08-09 14:37] gani419 commented on #730
In tried your process. But i'm getting the following error. Can you please check where I'm wrong.
![Screenshot_20220809-200524_StudentRN](https://user-images.githubusercontent.com/42198259/183677250-c7bd3a1e-965a-4c18-93df-74686a569669.png)

[2022-08-09 14:40] gani419 commented on #730
This is my data after converting start date in to date object.

[{"branch_name": "jklj", "class_timing_name": "weekday", "course_name": "Communication", "key": 100, "regcode": "J123", "registered": false, "start": "2022-08-08T18:30:00.000Z", "subject_name": "react", "title": "Communication-react", "trainer_name": {"id": 123, "username": "tr@gmail.com"}},]

[2022-08-09 14:48] acro5piano commented on #730
as the error says, you need to define `end` property on your event

[2022-08-10 07:56] gani419 commented on #730
I'm sorry to disturb you, But I'm stuck here. I'm using mode as month and when the event start date is next month or previous then it is crashing even though I use end date. I'm showing sample events and it's implementation in Calendar. Please check.
My requirement is I have to display all events from current date to future dates and months.

Events:

`const eve = [
    {
      key: 101,
      tit

[2022-08-10 12:31] gani419 commented on #730
Actually I'm getting events displayed properly in week and other modes. Only issue in month. But my requirement is to develop in month mode

[2022-08-10 15:24] acro5piano commented on #730
This is the time you should start using TypeScript. The following code would solve your problem.

[code]

[2022-08-11 01:49] rohanvasishth opened #731 "Refresh control?"
Is there a way to access the refresh control for the calendar?

Or has anyone figured out how to do it?

[2022-08-11 08:04] acro5piano commented on #731
Unfortunately, no such feature for now. If you create a PR for this, I'm happy to merge it!

[2022-08-11 09:42] gani419 commented on #730
Thank you for the response. I'm working on your solution.

[2022-08-11 12:43] gani419 commented on #730
It worked in js itself by array.amp(). Thank you for your time.

[2022-08-11 13:49] #730 closed

[2022-08-13 00:45] harshanirudh opened #732 "Increase cell height"
Can i increase cell height so that smaller events can be displayed? . As of now events with 10 mins duration are just shown as line.
edit: hourRowHeight property increase the row size but the hour indicators on the left become invisible

[2022-08-15 07:10] acro5piano commented on #732
This is probably a bug. Can you reproduce the issue?

[2022-08-15 23:18] harshanirudh commented on #732
Sorry, I'm somehow not able to reproduce it now. Will close this issue. Sorry for inconvenience .

[2022-08-15 23:18] #732 closed

[2022-08-23 10:30] chinmay4github1987 commented on #649
is it a predefined method to get the date list?

[2022-08-25 07:47] chinmay4github1987 opened #733 "How to disable clickevent actions of the next month starting dates in current month"
Need to disable event press actions on the next month's dates in the current month.

[2022-08-27 13:11] chinmay4github1987 commented on #324
I am using the above approach to integrate but not getting the color changed.
<Calendar
        theme={darkTheme}
        mode={'month'}
        hideNowIndicator={false}
        startAccessor="start"
        endAccessor="end"
        events={calendarEvents}
        eventCellStyle= {(event) => {
        const backgroundColor = event.reg.match(true) ? 'red' : 'blue'
        return { backgroundColor

[2022-08-30 05:18] acro5piano commented on #733
Currently not possible. Feel free to open a pull request.

[2022-08-30 09:56] SwikarBhattarai opened #734 "Drag and Drop Feature"
is there drag and drop event feature in this library?

[2022-08-30 13:16] acro5piano commented on #734
Unfortunately no and never, as the feature is not implemented on Android Google Calendar. However, if you create a pull request for that, I'd happy to merge it. Thanks

[2022-09-01 05:54] chinmay4github1987 opened #735 "How to change the background color of the event Cells."
I am using the below code to change the background color of calendar cells with the eventCellStyle prop, but not getting the colors.

[code]

[2022-09-01 07:03] acro5piano commented on #735
Your code is wrong. The code should be something like this:

[code]

[2022-09-01 07:03] riyaE2 opened #736 "Mobile - "month" mode issue"
![image](https://user-images.githubusercontent.com/112611651/187852373-a2248695-6424-4a97-97a1-6f15b97cd533.png)

I'm not able to show month name, year, next month, prev month functionality, can you please help to implement this functionality ?

[2022-09-01 07:04] #735 closed

[2022-09-01 07:07] acro5piano commented on #736
That is expected. You should implement your own controls. Please refer to the storybook.

https://github.com/acro5piano/react-native-big-calendar/blob/main/stories/full-customization.stories.tsx

Best,

[2022-09-01 07:07] #736 closed

[2022-09-01 09:37] riyaE2 opened #744 "Not showing event when i pass start and end date as a string"
const events = [

    {
        title: 'ABCDS',
        start: new Date(2022, 8, 17),
        end: new Date(2022, 8, 28),
    },
    {
        title: 'Meeting',
        start: new Date(2022, 8, 11, 10, 0),
        end: new Date(2022, 8, 11, 10, 30),
    },
]

We are passing array like this then i'm able to show events in calendar but when i'm passsing as follows not able to see any events on calen

[2022-09-01 12:01] riyaE2 commented on #609
In End Date not showing perfectly.

![image](https://user-images.githubusercontent.com/112611651/187908696-dc4f56ba-95ac-44f5-ad8e-f5e335155655.png)

{
    "title": "Jay Jani",
    "start": "2022-09-19T09:30:00.000Z",
    "end": "2022-09-20T05:30:00.000Z",
    "color": "#FF8F79"
  },

  My start date is 19th sep and end date is 20th sep but i'm showing only 19th september event.

[2022-09-01 12:04] riyaE2 opened #745 "Month view end date issue"
![image](https://user-images.githubusercontent.com/112611651/187909397-fd64fa29-7238-4a66-984d-792f9c304a95.png)

{
"title": "Jay Jani",
"start": "2022-09-19T09:30:00.000Z",
"end": "2022-09-20T05:30:00.000Z",
"color": "#FF8F79"
},

My start date is **19th** sep and end date is **20th** sep but i'm showing only 19th september event.

[2022-09-02 03:11] acro5piano commented on #745
What is your timezone?

[2022-09-02 03:12] acro5piano commented on #744
You should convert the string into date before passing them into the calendar component. This is by design.

[2022-09-02 03:12] #744 closed

[2022-09-02 04:45] riyaE2 commented on #745
GMT+08:00

[2022-09-02 06:44] riyaE2 commented on #745
i need also change cell height. it is possible to change height ?

[2022-09-12 06:14] riyaE2 opened #746 "RangeError: Invalid Date"
When mobile is **INDIA** timezone then getting **RangeError: Invalid Date** this error. can you please help me?

[2022-09-15 07:41] juspeeh opened #747 "Issue with month mode date calculation and onChangeDate"
When mode is month and the days are calculated the last day of the month is always left out. This ends up onChangeDate returning the second last date always. See images:

getDatesInMonth leaves the last day out:
![Screenshot 2022-09-15 at 10 34 59](https://user-images.githubusercontent.com/25384349/190344267-6da0ddbc-c810-4b06-916b-2e526a6312b2.png)

onChangeDate returns the second last day:
![Scr

[2022-10-07 20:55] kvlknctk opened #751 "Yearly mode"
Thank you for this library that makes my job easier in the simplest way.
I'm almost missing one. I want to make annual view mode like like official apple app?

![IMG_CAD2F9CBA84E-1](https://user-images.githubusercontent.com/10873815/194650582-6ce7da3b-e2a4-4784-9af2-22d218151b86.jpeg)

When I looked at the source files, I couldn't get an idea.
Can I do this with the custom method? also do i need t

[2022-10-09 13:58] acro5piano commented on #751
Hi, thank you for your kind words.
There is no such mode, so you should implement your own UI. If you create a pull request for this, I'm happy to merge it.

Best regards,
Kay

[2022-10-09 14:01] kvlknctk commented on #751
How about custom mode? Is this like a plugin? How can i add new view basicly?

[2022-10-09 14:01] acro5piano commented on #747
Sorry for my slow response. I'm busy for now and cannot work for this. If you create a pull request, I'm happy to merge it. Thanks!

[2022-10-09 14:02] acro5piano commented on #746
Sorry for my slow response. I'm busy for now and cannot work for this. If you create a pull request, I'm happy to merge it. Thanks!

[2022-10-09 14:06] acro5piano commented on #751
There's no mechanism which supports the custom mode. You should create your own component and show it when the mode is year.
If you fork this library and improve it to support year mode, please make a pull request for that. Thanks

[2022-10-10 11:53] Jack-Alfie opened #752 "BUG: GOOGLE PIXEL(Android 13) hang on scrolling horizontal"
Describe the bug
On Android 13 If I scroll the diary horizontally then after few seconds the app got hanging. if I move to other screens then came back to diary screen it works for few seconds and then hangs again.

Steps To Reproduce
     Open the calendar in Google Pixel 6,6a on android 13
     Scroll the calendar horizontally then you face the issue.

Expected behaviour
     I expect it to scro

[2022-10-10 16:54] greenboots88 commented on #752
@acro5piano I also have this problem to. Is there a fix as this is affecting all my android users

[2022-10-11 15:22] acro5piano commented on #752
I run the demo app on my Pixel 4a with Android 13, but couldn't reproduce the problem. Can you reproduce it by following the instruction?

https://github.com/acro5piano/react-native-big-calendar#running-demo-on-a-real-device-and-develop

[2022-10-12 11:39] greenboots88 commented on #752
@acro5piano I have run the demo app on a Pixel6 phone and the problem is still there. When swiping horizontally or vertically, after 8 swipes it slows and then eventually crashes

[2022-10-12 12:08] mubashiralisiddiqui opened #753 "is there a way to remove time slots column in week view ?"
<img width="319" alt="image" src="https://user-images.githubusercontent.com/16689214/195338513-a878c6b0-2545-410b-83c8-905449e51a56.png">
I wanted to remove hours sections from week view I didn't find any props for that

[2022-10-13 12:34] acro5piano commented on #753
Thanks for your interest. It is not possible for now. If you create a pull request, I'm happy to merge it. Thanks

[2022-10-13 12:35] acro5piano commented on #752
Hmm, I did the same thing and not reproduced. Sorry

[2022-10-13 17:11] mubashiralisiddiqui commented on #753
@acro5piano
https://github.com/acro5piano/react-native-big-calendar/pull/754
please review and merge it ASAP :)

[2022-10-14 03:16] acro5piano commented on #753
@mubashiralisiddiqui Thanks. It is released on v3.3.0

https://github.com/acro5piano/react-native-big-calendar/releases/tag/v3.3.0

[2022-10-14 03:16] #753 closed

[2022-10-14 08:03] greenboots88 commented on #752
@acro5piano the lag is due to the number of events. If there are over 500+ events then the lagging happens around 20-30 swipes, more events, the more it lags.

[2022-10-16 10:30] mubashiralisiddiqui commented on #712
as per my understanding
this is happen because of an extra useEffect at line num 144 and the extra dependency in another useEffect which is at line num 183 of CalenderContainer.tsx I have tested it by fixing that on my side and it's working fine
I can create MR for that but I am not sure for what reason you have done that can you recheck that, please
<img width="1053" alt="image" src="https://user

[2022-10-16 13:07] mubashiralisiddiqui commented on #712
@acro5piano
https://github.com/acro5piano/react-native-big-calendar/pull/764
here is the MR for this issue
this fix will resolve the issue but we are getting eslint error
and I tried to fix it as per the recommended way which you also implement but it causing infinite setState
so I have to disable the es-lint  rule for this since its a major issue we can disable it
although I haven't push that cha

[2022-10-18 05:17] acro5piano commented on #712
@mubashiralisiddiqui Thanks. Let's continue to discuss it on the pull request page.

[2022-10-19 06:34] acro5piano commented on #712
The fix was released on v3.3.1. Thank you very much @mubashiralisiddiqui !

I close this issue for now. If the problem continues, feel free to reopen this issue.

[2022-10-19 06:34] #712 closed

[2022-10-20 10:32] mubashiralisiddiqui commented on #660
@acro5piano I am also facing this issue it was working fine but today when I reinstall my modules I am getting this error
<img width="397" alt="image" src="https://user-images.githubusercontent.com/16689214/196925704-28eebf07-9f7d-4c84-a763-068793401f39.png">

[2022-10-20 10:54] mubashiralisiddiqui commented on #660
I am able to fix my issue by adding
 sourceExts: ['jsx', 'js', 'ts', 'tsx', 'cjs','svg'],
 in metro.confing.js file
<img width="574" alt="image" src="https://user-images.githubusercontent.com/16689214/196929889-7788f7d1-b4fa-42f1-94b9-d4c165951776.png">

[2022-11-08 21:59] ylahssini commented on #563
Any updates on this issue? because the problem still persisting

[2022-11-14 11:06] Nikunj-Bisht12 opened #776 "How to modify week and day cell style"

[2022-11-14 12:29] acro5piano commented on #776
Please take a look at `eventCellStyle` prop. If you have any problem with it, feel free to reopen this issue.

[2022-11-14 12:29] #776 closed

[2022-11-15 06:01] Nikunj-Bisht12 commented on #776
@acro5piano  hot to give seperate style to weeks

[2022-11-16 06:46] Nikunj-Bisht12 opened #777 "In week and day mode events are showing at bottom when using renderEvent prop"
![Screenshot from 2022-11-16 12-14-35](https://user-images.githubusercontent.com/104750364/202104945-74ed7e06-f7b0-4e03-85c2-f25db8857424.png)

[2022-11-17 17:06] ozanyurtsever opened #779 "Feature: Pinch to zoom in and out"
Google Calendar app for Android supports pinching to zoom in and out features. Please see the screen recording;

https://user-images.githubusercontent.com/36413633/202510961-09e7cd16-627a-475f-9f56-561350ab13b7.mp4

I believe such a feature would be great for this library as well.

[2022-11-18 15:05] hdrabs commented on #563
I am having the same issue for the `week` mode, not using month mode.

The workaround I am using is that I am creating a bucket for time range of 1 hour and showing the count on the event cell and when you click on it, it goes to `day` mode. Which is still taking some time to render but better than rendering the events.

Please if anyone have another solution please let me know

[2022-11-20 06:38] acro5piano commented on #779
@ozanyurtsever Thanks for your suggestion! I agree with you. If someone creates a pull request for this, I'm happy to merge it!

[2022-11-20 06:51] acro5piano commented on #777
I think you don't pass `touchableOpacityProps` correctly. Are you doing the same way as README shown?

[code]

[2022-11-21 10:03] NDHai1811 opened #780 "Event overlay other event"
First, thank you for your library, it's useful. But i have a little issue here. As you can see at 25th cell, there are event overlay other event. I used to inspect it and it shows that events was divided to fill all blank cell but when i render the event still in straight line. How can i pretend or could you fix that?

![image](https://user-images.githubusercontent.com/71643190/203013869-a4dc7e6e-

[2022-11-22 04:52] Nikunj-Bisht12 commented on #777
@acro5piano
` <TouchableOpacity
            onPress={() =>{}}
            style={[styles.eventCellStyle, { alignItems: "center", justifyContent: "center" }]}

            <Text
              textStyle={{ marginLeft: 6, textAlign: "center" }}
              textSize={TextSize.ExtraFineSmall}
              fontWeight={FontWeight.Regular}
              testId={""}

              {`+more`}

[2022-11-24 04:29] acro5piano commented on #777
@Nikunj-Bisht12

You should pass `{...touchableOpacityProps}` from props of your custom `renderEvent` function.

[code]

[2022-11-24 04:29] #777 closed

[2022-11-24 04:36] acro5piano commented on #780
Hi, thank you for reporting your issue and sorry for my slow response.

Can you show a minimal reproduction code so that others might work on it?

Yes, I think it is possible.

There are some problems of spanning multiple days feature because the logic is pretty complicated. If you can avoid that feature, I recommend to do so.

[2022-11-24 05:21] Nikunj-Bisht12 commented on #777
@acro5piano after passing still facing same issue can you share a smple or code snippet of this it will be very helpful

 <TouchableOpacity
            onPress={() =>{}}
            style={[styles.eventCellStyle, { alignItems: "center", justifyContent: "center" }]}

            {...touchableOpacityProps}

[2022-11-26 04:41] Nikunj-Bisht12 commented on #715
@hirvesh you can do it by using dayjs and convert time zones accordingly

[2022-11-26 05:33] Nikunj-Bisht12 opened #781 "calendarCellTextStyle is working only for android devices not for web"

[2022-11-26 06:06] Nikunj-Bisht12 commented on #661
@SenseiKiritof did you find any solution for this?

[2022-11-26 07:03] Nikunj-Bisht12 opened #782 "unable to interact with calendar in month view on android"

[2022-11-26 10:34] SenseiKiritof commented on #661
I don't know...in the end i created it manually..

[2022-11-26 17:06] Nikunj-Bisht12 commented on #661
@SenseiKiritof working when wrapped with scrollview

[2022-11-28 07:02] Nikunj-Bisht12 commented on #782
if someone i finding this issue rap calendar with scroll view

[2022-11-28 07:02] #782 closed

[2022-11-28 07:02] Nikunj-Bisht12 commented on #782
if someone i finding this issue rap calendar with scroll view